In [1]:
import numpy as np
import pandas as pd
import datetime
from tqdm import tqdm 

import warnings 
warnings.filterwarnings('ignore')

In [2]:
def ud(data,n1):
    data["ud"] = np.sign(data["close"]-data['close'].shift(n1))
    
    ud_cumm=list(np.zeros(n1))
    start = None
    cumm = 0
    for i in range(n1,len(data["date"])):
        if start is None:
            ud_cumm.append(data["ud"][i])
            start = data["ud"][i]
            cumm = data["ud"][i]
        else:
            if data["ud"][i] == start:
                cumm += data["ud"][i]
                ud_cumm.append(cumm)
            else:
                ud_cumm.append(data["ud"][i])
                start = data["ud"][i]
                cumm = data["ud"][i]
    data["ud_cumm"] = ud_cumm
    return data

In [3]:
def count(data,n2,n3):
    
    data["start_or_not"]=None
    data["sell_count"] = None
    data["buy_count"] = None
    data["signal"]=None
    data["price_high"] =None
    data["price_low"] =None
    count_buy = 0
    count_sell = 0
    price_low = None
    price_high = None
    buying_begin=False
    selling_begin = False
    last_buy_price=None
    last_sell_price =None
    
    for i in range(0,len(data["date"])):            
        if buying_begin and count_buy<n3: #买入计数
            price_low = min(data["low"][i],price_low) if price_low else data["low"][i]
            if data["close"][i]>=data["high"][i-2] and data["high"][i]>data["high"][i-1]:
                if count_buy == 0:
                    count_buy += 1
                    data.loc[i,("buy_count")] = count_buy
                    last_buy_price = data["close"][i]
                elif count_buy != 0 and data["close"][i]>last_buy_price:
                    count_buy += 1
                    data.loc[i,("buy_count")] = count_buy
                    last_buy_price = data["close"][i]  
            
                    
        if selling_begin and count_sell<n3: #卖出计数
            price_high = max(data["high"][i],price_high) if price_high else data["high"][i]
            if data["close"][i]<=data["low"][i-2] and data["low"][i]<data["low"][i-1]:
                if count_sell == 0:
                    count_sell += 1
                    data.loc[i,("sell_count")] = count_sell
                    last_sell_price = data["close"][i]
                elif count_sell!=0 and data["close"][i] < last_sell_price:
                    count_sell += 1
                    data.loc[i,("sell_count")] = count_sell
                    last_sell_price = data["close"][i]
            
                    
        if data["ud_cumm"][i] == n2: #卖出启动
            data.loc[i,("start_or_not")] =-1
            count_sell = 0 #初始化计数次数
            data.loc[i,("sell_count")] = count_sell
            selling_begin = True
            price_high = None
        elif data["ud_cumm"][i] == -n2: #买入启动
            data.loc[i,("start_or_not")] =1
            count_buy = 0 #初始化计数次数
            data.loc[i,("buy_count")] = count_buy
            buying_begin = True
            price_low = None
                    
        if count_buy == n3:
            data["signal"][i] = 1
            count_buy = 0
            data.loc[i,("price_low")] = price_low
            buying_begin = False
            
        if count_sell == n3:
            data["signal"][i] = -1
            count_sell = 0
            data.loc[i,("price_high")] = price_high
            selling_begin = False

    return data

In [4]:
def signal(data):
    
    day_first_idexs = data.drop_duplicates('date').index.values #取出相同date的第一个日期index 如0 240 480
    day_idexs = np.hstack([day_first_idexs,data.shape[0]]) #加上最后一个index 如0 240 480。。。57840（方便后面取每日区间）
    my_data_dfs = []
    for day_begin, day_end in zip(day_idexs[:-1], day_idexs[1:]):#取每一天的区间
        tmp_df = data.iloc[day_begin: day_end, :]    
        tmp_df["new_signal"]=None
        tmp_df["new_signal"][tmp_df["time"]< '14:40:00'] = tmp_df.signal.shift(1)
        tmp_df["stop or not"] =False
        direction = None
        init = False
        count = 0
        
        for i in range(day_begin, day_end):
            
            if tmp_df["time"][i] == '14:40:00':
                tmp_df.loc[i,("new_signal")] = -count
#                 print("------------------------------------")
            elif tmp_df["time"][i] < '14:40:00':
                if direction ==None and tmp_df["signal"][i] ==1:
                    direction =1
                    price_low = data["price_low"][i]
                    count+=1
#                     print("first")

                elif direction ==None and tmp_df["signal"][i] ==-1 :
                    direction = -1
                    count+=-1
#                     print("second")

                elif direction == 1:     
#                     print(tmp_df["low"][i], price_low)
                    if tmp_df["low"][i] - price_low <= 0 and tmp_df["time"][i] < '14:39:00':
                        tmp_df.loc[i+1,("new_signal")] = -1
                        count-=1
                        tmp_df.loc[i+1,("price_low")] = price_low
                        tmp_df.loc[i+1,("stop or not")] = True
                        direction = -1
#                         print("third")
                    elif tmp_df["signal"][i] ==1:
                        price_low = data["price_low"][i]
                        count+=1
#                         print("fourth")
                    elif tmp_df["signal"][i] ==-1:
                        count-=1
#                         print("fourth2")
                elif direction == -1: 
                    if tmp_df["signal"][i] ==1:
                        price_low = data["price_low"][i]
                        count+=1
                        direction =1
#                         print("fifth")
                    elif tmp_df["signal"][i] ==-1:
                        count-=1
                        direction = -1
#                         print("six")

            
        
        '''
            signal：上述策略中的信号，有1，-1，0 三种取值
            new_signal 针对只能开平多仓的新信号点
            my_signal 在new_signal基础上加上日内平仓 表现为14:40:00 发出-1/1信号
            init是初始化阶段，即第一次进行开仓或者平仓操作，初始化阶段后将init设置为false
            
            
            特殊：由于日内平仓，当时间>14:40:00，就算有signal信号，也不进行开仓操作。
        '''

        my_data_dfs.append(tmp_df)
    """ 拼接得到新DataFrane """
    my_data = pd.concat(my_data_dfs)
    return my_data

In [5]:
#持仓计算
def position(data, shift_period=1):
    signal = data['new_signal']
    position = signal.fillna(method='ffill').shift(shift_period).fillna(0)
    data['position'] = position
    return data

## 算实际开仓

In [10]:
#读取数据
my_data=pd.read_csv(
    '510300_2021.csv', sep=',', parse_dates=True)
my_data_1 = my_data[my_data["date"]>='2021-01-01']
my_data_1 = my_data_1[my_data_1["dates"]<='2021-05-31 15:00:00']
my_data_1 =my_data_1.reset_index(drop=True)
my_data_1

             date      time                dates   open   high    low  close
0      2021-01-04  09:31:00  2021-01-04 09:31:00  5.280  5.298  5.278  5.288
1      2021-01-04  09:32:00  2021-01-04 09:32:00  5.290  5.290  5.283  5.283
2      2021-01-04  09:33:00  2021-01-04 09:33:00  5.283  5.286  5.281  5.283
3      2021-01-04  09:34:00  2021-01-04 09:34:00  5.281  5.281  5.270  5.272
4      2021-01-04  09:35:00  2021-01-04 09:35:00  5.274  5.274  5.263  5.265
...           ...       ...                  ...    ...    ...    ...    ...
23275  2021-05-31  14:56:00  2021-05-31 14:56:00  5.335  5.338  5.335  5.338
23276  2021-05-31  14:57:00  2021-05-31 14:57:00  5.338  5.339  5.337  5.338
23277  2021-05-31  14:58:00  2021-05-31 14:58:00  5.338  5.338  5.337  5.338
23278  2021-05-31  14:59:00  2021-05-31 14:59:00  5.338  5.339  5.336  5.338
23279  2021-05-31  15:00:00  2021-05-31 15:00:00  5.337  5.339  5.337  5.338

[23280 rows x 7 columns]

## 实际开仓（加上6s的频）

In [11]:
my_data_3s=pd.read_csv(
    '510300_2021_6s_1.csv', sep=',', parse_dates=True)
my_data_3s_1 = my_data_3s[my_data_3s["date"]>='2021-01-01']
my_data_3s_1 = my_data_3s_1[my_data_3s_1["dates"]<='2021-05-31 15:00:00']
my_data_3s_1 = my_data_3s_1[my_data_3s_1["time"]>='09:31:00']
my_data_9s_1 =my_data_3s_1.reset_index(drop=True)
my_data_9s_1

,date,time,dates,open,high,low,close,buy1,bc1,buy2,bc2,sale1,sc1,sale2,sc2
0,2021-01-04,09:31:00,2021-01-04 09:31:00,5.289,5.289,5.288,5.288,5.288,479000,5.287,77200,5.289,499300,5.290,126800
1,2021-01-04,09:31:06,2021-01-04 09:31:06,5.290,5.290,5.290,5.290,5.289,2000,5.287,477400,5.290,54600,5.291,300800
2,2021-01-04,09:31:12,2021-01-04 09:31:12,5.288,5.290,5.288,5.290,5.290,971900,5.289,140400,5.291,1200,5.292,14400
3,2021-01-04,09:31:18,2021-01-04 09:31:18,5.290,5.290,5.290,5.290,5.289,456800,5.288,4300,5.290,568800,5.291,11700
4,2021-01-04,09:31:24,2021-01-04 09:31:24,5.290,5.290,5.290,5.290,5.289,65500,5.288,609800,5.290,59400,5.291,156700
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
231922,2021-05-31,14:59:36,2021-05-31 14:59:36,5.338,5.338,5.338,5.338,5.338,175300,5.337,322483,5.339,676700,5.340,1861600
231923,2021-05-31,14:59:42,2021-05-31 14:59:42,5.338,5.339,5.338,5.339,5.338,169900,5.337,317083,5.339,708400,5.340,1559600
231924,2021-05-31,14:59:48,2021-05-31 14:59:48,5.339,5.339,5.339,5.339,5.338,165200,5.337,307583,5.339,1871600,5.340,965600
231925,2021-05-31,14:59:54,2021-05-31 14:59:54,5.339,5.339,5.338,5.338,5.338,253500,5.337,304283,5.339,1633800,5.340,965600
231926,2021-05-31,15:00:00,2021-05-31 15:00:00,5.339,5.339,5.338,5.338,5.338,500,5.337,304283,5.339,780500,5.340,1266600

In [12]:
#计算新的开平仓收益
def new_earning(data,init_money,init_volume,r0):
    
    '''
        r0:交易单边手续费
        times:每日交易次数  = 固定为3次
        初始化持有金额和仓位（初始持有：两者之和）：
            init_money              初始持有金额
            init_volume             初始持有仓位 
        
        描述变量：
            hold_volume             持有仓位
            all_volume              数量上等于hold_volume 为方便计算引入的变量，目的：比如多仓下平仓，用hold_volume来计算，
                                    判断平仓点为hold_volume=0,而all_volume保留为平仓前的多仓持有仓位
                                    
            yesterday_volume        昨日持仓量
            today_volume            今日持仓量
            change_volume           单次买卖操作变化持仓量

            hold_money              持有金额,初始化为初始持有金额
            all_money               数量上等于hold_money 为方便计算引入的变量
            change_money            单次买卖操作变化金额
            everyday_money          list 每日初始持有金额，第一天为init_money
            
            change_time             单次买卖操作时间（second）
            
            new_price               平仓开仓的价格，all_money/all_volume
            per_time_volume         每次操作的量
            
        标识：     
            buy_signal              买入标识
            sell_signal             卖出标识
            begin_time              每次操作时开仓时间（用来计算每次买卖的所用时长）
            
    '''
    data["yesterday_volume"]=None
    data["today_volume"]=None
    data["change_volume"]=None
    data["all_money"]=None
    data["change_money"]=None
    data["new_position"]=None
    data["new_price"]=None
    data["change_time"]=None
    hold_money=init_money                   #初始持有金额
    all_money=hold_money
    yesterday_volume = init_volume           #昨日及之前持仓
    today_volume = 0                      #今日持仓
    everyday_money=[]                     #每日初始金额
    times =3
    per_time_volume =init_volume/times   #计算每次操作的量
#     print(times,(data[data['new_signal']>0].shape[0]+data[data['new_signal']<0].shape[0]))
    
    day_first_idexs = data.drop_duplicates('date').index.values #取出相同date的第一个日期index
    day_idexs = np.hstack([day_first_idexs,data.shape[0]]) #加上最后一个index （方便后面取每日区间）
    my_data_dfs = []
    for day_begin, day_end in zip(day_idexs[:-1], day_idexs[1:]):#取每一天的区间
        tmp_df = data.iloc[day_begin: day_end, :]   
        #yesterday_volume                  #每日初始持有仓位
        yesterday_volume += today_volume   #每日初始持有仓位 = 昨日的留存的yesterday_volume + 昨日的today_volume
        everyday_money.append(all_money)   #每日初始持有金额计入

        
        #初始化今日量，买卖signal，开仓时间
        today_volume =0                    
        buy_signal = 0
        sell_signal = 0
        begin_time = 0
        
        for i in range(day_begin, day_end):
            if(tmp_df["time"][i]<'14:40:00'): 
                '''
                    在14:40:00前: 
                    买入条件：发出买入信号（new_signal=1），同时今日买入的仓位<初始仓位
                        初始化：发出buy_signal,hold_volume单次初始持仓=0，持有金额=all_money
                                单次所需买入的量为min(per_time_volume，init_volume-today_volume)
                                begin_time = 发出信号的时间
                        
                    卖出条件：发出卖出信号（new_signal=-1），同时昨日持仓>0
                        初始化：发出sell_signal,hold_volume单次卖出的量min(yesterday_volume,per_time_volume)，
                                per_money 单次操作金额=0
                                begin_time = 发出信号的时间
                '''                
                
                if(tmp_df["new_signal"][i]==1 and today_volume<init_volume):           
                    buy_signal=1
                    hold_volume=0
                    hold_money=all_money
                    need_volume=min(per_time_volume,init_volume-today_volume)
                    tmp_df.loc[i,("all_money")]=all_money
                    tmp_df.loc[i,("yesterday_volume")]=yesterday_volume
                    tmp_df.loc[i,("today_volume")]=today_volume
                    begin_time = tmp_df["time"][i]


                elif(tmp_df["new_signal"][i]==-1):        
                    sell_signal=1
                    hold_volume =  min(yesterday_volume,per_time_volume)
                    all_volume = hold_volume
                    per_money = 0
                    tmp_df.loc[i,("all_money")]=all_money
                    tmp_df.loc[i,("yesterday_volume")]=yesterday_volume
                    tmp_df.loc[i,("today_volume")]=today_volume  
                    begin_time = tmp_df["time"][i]
                    
            
            elif(tmp_df["time"][i]=='14:40:00' ):
                '''
                    在14:40:00后: 日内平仓操作
                    买入条件：today_volume+yesterday_volume-init_volume<0
                        初始化：发出buy_signal,hold_volume单次初始持仓=0，持有金额=all_money
                                单次所需买入的量为 init_volume-(today_volume+yesterday_volume)
                                begin_time = 发出信号的时间
                        
                    卖出条件：today_volume+yesterday_volume-init_volume>0
                        初始化：发出sell_signal,hold_volume单次卖出的量，
                                per_money 单次操作金额=0
                                begin_time = 发出信号的时间
                '''
#                 if (buy_signal==1):
#                     hold_money=all_money
#                     buy_signal=0
#                 elif(sell_signal==1):
#                     sell_signal=0
                    
                if(today_volume+yesterday_volume-init_volume>0):  
                    if(yesterday_volume>=today_volume+yesterday_volume-init_volume):
                        hold_volume =  today_volume+yesterday_volume-init_volume
                    else:
                        hold_volume =  yesterday_volume
                    sell_signal=1
                    all_volume = hold_volume
                    per_money = 0
                    tmp_df.loc[i,("all_money")]=all_money
                    tmp_df.loc[i,("yesterday_volume")]=yesterday_volume
                    tmp_df.loc[i,("today_volume")]=today_volume
                    begin_time = tmp_df["time"][i]
                elif(today_volume+yesterday_volume-init_volume<0): 
                    buy_signal=1
                    hold_volume=0
                    hold_money=all_money
                    need_volume = init_volume-(today_volume+yesterday_volume)
                    tmp_df.loc[i,("all_money")]=all_money
                    tmp_df.loc[i,("yesterday_volume")]=yesterday_volume
                    tmp_df.loc[i,("today_volume")]=today_volume
                    begin_time = tmp_df["time"][i]
                     
                
            if(buy_signal ==1):
            
                '''
                    对于每次开仓过程中有三种情况：
                    1.持有金额>卖1价*卖1量+卖2价*卖2量 
                    2.卖1价*卖1量+卖2价*卖2量>=持有金额>卖2价*卖2量 
                    3.持有金额<=卖1价*卖1量  此时以卖1价买入
                    hold_volume 本次买入的仓位 0-->
                    today_volume 今日仓位
                    hold_money 持有的钱(变量)
                    all_money 本次操作之前持有的钱 --> hold_money
                '''
                #计算两档金额
                money_1 = tmp_df["sale1"][i]*tmp_df["sc1"][i]
                money_2 = tmp_df["sale2"][i]*tmp_df["sc2"][i]

                if(need_volume-hold_volume>tmp_df["sc1"][i] and need_volume-hold_volume<=tmp_df["sc1"][i]+tmp_df["sc2"][i]):
                    #需要再扫一档 +二档的一部分
                    need_money = (money_1 + (need_volume-hold_volume-tmp_df["sc1"][i])*tmp_df["sale2"][i])*(1+r0)
                    if(hold_money>=need_money):
                        #钱够扫
                        hold_volume = need_volume
                        hold_money -= need_money
                    else:
                        #钱只够扫一档+二档的小部分， 不能扫满所需二档
                        if(hold_money>money_1*(1+r0)):
                            hold_volume = hold_volume + tmp_df["sc1"][i] + (hold_money - money_1*(1+r0))*(1-r0)/tmp_df["sale2"][i]
                            hold_money = 0
                        else:
                            #钱只够扫一档一部分
                            hold_volume = hold_volume + hold_money*(1-r0)/tmp_df["sale1"][i]
                            hold_money = 0  

                elif(need_volume-hold_volume>tmp_df["sc1"][i]+tmp_df["sc2"][i]):   
                    #需要再扫一档 +二档
                    need_money = (money_1 + money_2)*(1+r0)
                    if(hold_money>need_money):
                        #钱够扫
                        hold_volume += tmp_df["sc1"][i]+tmp_df["sc2"][i]
                        hold_money -= need_money
                    else:
                        #钱只够扫一档+二档的小部分， 不能扫满所需二档
                        if(hold_money>money_1*(1+r0)):
                            hold_volume = hold_volume + tmp_df["sc1"][i] + (hold_money - money_1*(1+r0))*(1-r0)/tmp_df["sale2"][i]
                            hold_money = 0
                        else:
                            #钱只够扫一档一部分
                            hold_volume = hold_volume + hold_money*(1-r0)/tmp_df["sale1"][i]
                            hold_money = 0  

                else:
                    #需要再扫一档 
                    need_money = (need_volume-hold_volume)*tmp_df["sale1"][i]*(1+r0)
                    if(hold_money>need_money):
                        #钱够扫
                        hold_volume = need_volume
                        hold_money -= need_money
                    else:
                        #钱只够扫一档一部分
                        hold_volume = hold_volume + hold_money*(1-r0)/tmp_df["sale1"][i]
                        hold_money = 0  

                #如果上次买入操作在14:39:40前还没结束，那么结束此次买入操作，等到14:40:00进行日内平仓
                if(hold_volume>=need_volume or hold_money== 0 or (tmp_df.loc[i,("time")]>'14:39:40' and tmp_df.loc[i,("time")]<'14:40:00')):
                    today_volume+=hold_volume
                    tmp_df.loc[i,("today_volume")]=today_volume
                    tmp_df.loc[i,("yesterday_volume")]=yesterday_volume
                    tmp_df.loc[i,("change_volume")]=hold_volume
                    tmp_df.loc[i,("change_money")]=all_money-hold_money
                    tmp_df.loc[i,("new_price")]=(all_money-hold_money)/(hold_volume)      
                    all_money = hold_money
                    tmp_df.loc[i,("all_money")]=all_money
                    tmp_df.loc[i,("change_time")]=(datetime.datetime.strptime(tmp_df.loc[i,("time")], "%H:%M:%S")-datetime.datetime.strptime(begin_time, "%H:%M:%S")).seconds
                    buy_signal=0
                    
                
                           
            elif(sell_signal ==1):
                '''
                    对于每次平仓过程中有三种情况：
                    1.持有仓位>买1量+买2量 
                    2.买1量+买2量>=持有仓位>买1量 
                    3.持有仓位<=买1量  此时以买1价都卖出
                    per_money 卖出的钱
                    hold_money/all_money 总持有钱
                    hold_volume 初始为per_time_volume 每次卖出的量 --> 0
                    all_volume 初始的hold_volume --> 0
                '''
                money_1 = tmp_df["buy1"][i]*tmp_df["bc1"][i]
                money_2 = tmp_df["buy2"][i]*tmp_df["bc2"][i]
                
                #如果上次卖出操作在14:39:40前还没结束，那么结束此次卖出操作，等到14:40:00进行日内平仓
                if(hold_volume-tmp_df["bc1"][i]-tmp_df["bc2"][i]>0 and (tmp_df.loc[i,("time")]<='14:39:40' or tmp_df.loc[i,("time")]>='14:40:00')):
                    hold_volume=hold_volume - tmp_df["bc1"][i]-tmp_df["bc2"][i]
                    per_money = per_money+(money_1+money_2)*(1-r0)
                else: 
                    if(tmp_df.loc[i,("time")]<='14:39:40' or tmp_df.loc[i,("time")]>='14:40:00'):
                        if (hold_volume-tmp_df["bc1"][i]-tmp_df["bc2"][i]<=0 and hold_volume-tmp_df["bc1"][i]>0):
                            per_money += (money_1+(hold_volume-tmp_df["bc1"][i])*tmp_df['buy2'][i])*(1-r0)
                        else:
                            per_money +=  hold_volume*tmp_df["buy1"][i]*(1-r0) 
                        # 仓位在卖掉后为0
                        hold_volume=0
                    elif(tmp_df.loc[i,("time")]>'14:39:40'and tmp_df.loc[i,("time")]<'14:40:00'):
                        all_volume = all_volume-hold_volume
                        
                    yesterday_volume -= all_volume
                    tmp_df.loc[i,("yesterday_volume")]=yesterday_volume
                    tmp_df.loc[i,("today_volume")]=today_volume
                    tmp_df.loc[i,("change_volume")]=all_volume
                    tmp_df.loc[i,("change_money")]=per_money
                    hold_money += per_money
                    all_money=hold_money
                    tmp_df.loc[i,("all_money")]=all_money
                    tmp_df.loc[i,("new_price")]=(per_money)/all_volume
                    tmp_df.loc[i,("change_time")]=(datetime.datetime.strptime(data.loc[i,("time")], "%H:%M:%S")-datetime.datetime.strptime(begin_time, "%H:%M:%S")).seconds
                    all_volume=0
                    sell_signal=0
                
            
        my_data_dfs.append(tmp_df)
    """ 拼接得到新DataFrane """
    my_data = pd.concat(my_data_dfs) 
    return my_data,everyday_money

In [13]:
#算每日操作次数 每日操作金额 每日操作平均所需时长
def per_day(data,money,everyday_money):
    '''
       每日操作次数 per_day_count 
       每日操作量 per_day_change_volume
       每日操作金额 per_day_change_money
       每次操作平均所需时长 per_day_change_time
       最大回撤 drawback
    
    '''
#     count_num = data[(data['new_signal']>0) or (data['new_signal']<0)].shape[0] #操作次数
    count_num = data[data['new_signal']>0].shape[0]+data[data['new_signal']<0].shape[0] #操作次数
    total_change_volume = data['change_volume'].dropna().values.sum()
    total_change_money = data['change_money'].dropna().values.sum()
    total_change_time = data['change_time'].dropna().values.sum()
    total_days = data.drop_duplicates('date').index.values.size
    per_day_count = 3
    per_day_change_volume =total_change_volume /total_days
    per_day_change_money = total_change_money /total_days
    per_count_change_time = total_change_time /count_num
    earning = (my_new_situation_earning['all_money'].dropna().values[-1]/money -1)*100
    print(my_new_situation_earning['all_money'].dropna().values[-1],money)
    
    drawback_list = []
    for i in range(0,len(everyday_money)):
        drawback_list.append((everyday_money[i]-min(everyday_money[i:]))/everyday_money[i])
    drawback = max(drawback_list)*100
    return per_day_count,per_day_change_volume,per_day_change_money,per_count_change_time,earning,drawback

# per_day_count,per_day_change_volume,per_day_change_money,per_count_change_time,earning = per_day(my_new_situation_earning,20000000)
# per_day_count,per_day_change_volume,per_day_change_money,per_count_change_time,earning

In [ ]:
performance=[]
drawback=[]
per_money_day=[]
N1 = np.arange(1,11)#11 6 7
N2 = np.arange(1,11)
N3 = np.arange(5,8)
money=[10000000,20000000]
df_par = pd.DataFrame()
df_par["n1"]=np.zeros(600)
df_par["n2"]=np.zeros(600)
df_par["n3"]=np.zeros(600)
df_par["per_day_count"]=np.zeros(600)
df_par["per_day_change_volume"]=np.zeros(600)
df_par["per_day_change_money"]=np.zeros(600)
df_par["per_count_change_time"]=np.zeros(600)
df_par["performance"]=np.zeros(600)
df_par["drawback"]=np.zeros(600)
# print(N1,N2,N3)
m1,m2,m3,m4,m5,m6,m7,m8,m9,m10 =[],[],[],[],[],[],[],[],[],[]
for n1 in N1:
    for n2 in N2:
        for n3 in N3:
            my_data_ud = ud(my_data_1 , n1)
            my_data_count = count(my_data_ud,n2,n3)
            my_data_signal = signal(my_data_count)
            my_new_situation = pd.merge(my_data_9s_1,my_data_signal,on='dates',how='left')
            my_new_situation =my_new_situation.drop(my_new_situation.columns[[15,16,17,18,19,20,21,22,23,24,25,26,27,28,30]], axis=1)
            my_new_situation.rename(columns={'date_x':'date','time_x':'time','open_x':'open','high_x':'high','low_x':'low','close_x':'close'},inplace=True)
                        
            for n4 in money:
                my_new_situation_earning,everyday_money=new_earning(my_new_situation,n4,5000000,0.00005)
                per_day_count,per_day_change_volume,per_day_change_money,per_count_change_time,earning,drawback = per_day(my_new_situation_earning,n4,everyday_money)
                m1.append(int(n1))
                m2.append(int(n2))
                m3.append(int(n3))
                m4.append(int(n4))
                m5.append(per_day_count)
                m6.append(per_day_change_volume)
                m7.append(per_day_change_money)
                m8.append(per_count_change_time)
                m9.append(earning)
                m10.append(drawback)
                print(n1,n2,n3,n4,earning)

df_par["n1"]=m1
df_par["n2"]=m2
df_par["n3"]=m3
df_par["money"]=m4
df_par["per_day_count"]=m5
df_par["per_day_change_volume"]=m6
df_par["per_day_change_money"]=m7
df_par["per_count_change_time"]=m8
df_par["performance"]=m9
df_par["drawback"]=m10
df_par

9278467.123146929 10000000
1 1 5 10000000 -7.215328768530716
19411804.2987271 20000000
1 1 5 20000000 -2.940978506364511
9610880.808626747 10000000
1 1 6 10000000 -3.891191913732528
19550470.221602377 20000000
1 1 6 20000000 -2.247648891988119
10007398.567363646 10000000
1 1 7 10000000 0.07398567363645636
20007466.146482803 20000000
1 1 7 20000000 0.037330732414009304
9298106.01194742 10000000
1 2 5 10000000 -7.01893988052581
19532536.81815339 20000000
1 2 5 20000000 -2.337315909233051
10842349.17833188 10000000
1 2 6 10000000 8.423491783318804
21206333.61539942 20000000
1 2 6 20000000 6.03166807699711
10752439.224243987 10000000
1 2 7 10000000 7.524392242439881
21015824.505413257 20000000
1 2 7 20000000 5.079122527066282
9624334.55792591 10000000
1 3 5 10000000 -3.7566544207409014
19911750.9909197 20000000
1 3 5 20000000 -0.4412450454014949
9433033.669774447 10000000
1 3 6 10000000 -5.669663302255534
19530007.716563135 20000000
1 3 6 20000000 -2.349961417184321
10273682.156163348 10000000
1 3 7 10000000 2.7368215616334846
20204549.92005401 20000000
1 3 7 20000000 1.0227496002700454
9068264.220722005 10000000
1 4 5 10000000 -9.317357792779957
18708926.167891353 20000000
1 4 5 20000000 -6.455369160543234
9028003.256786168 10000000
1 4 6 10000000 -9.719967432138322
19032378.002680875 20000000
1 4 6 20000000 -4.838109986595618
9552472.251841163 10000000
1 4 7 10000000 -4.475277481588369
19161634.296891056 20000000
1 4 7 20000000 -4.1918285155447155
9144558.651511377 10000000
1 5 5 10000000 -8.554413484886236
18751300.033531062 20000000
1 5 5 20000000 -6.24349983234469
9567241.058746448 10000000
1 5 6 10000000 -4.327589412535526
19433225.031163476 20000000
1 5 6 20000000 -2.8338748441826156
9742170.539324826 10000000
1 5 7 10000000 -2.578294606751741
19294618.715045854 20000000
1 5 7 20000000 -3.526906424770726
10183724.404396376 10000000
1 6 5 10000000 1.8372440439637483
20183860.498339698 20000000
1 6 5 20000000 0.9193024916984927
10160065.848653233 10000000
1 6 6 10000000 1.6006584865323248
20160065.84865325 20000000
1 6 6 20000000 0.8003292432662512
10169325.840250982 10000000
1 6 7 10000000 1.693258402509823
20169325.840250984 20000000
1 6 7 20000000 0.8466292012549115
9929759.184336752 10000000
1 7 5 10000000 -0.7024081566324836
19929759.184336737 20000000
1 7 5 20000000 -0.35120407831631395
9780592.501155607 10000000
1 7 6 10000000 -2.194074988443928
19780523.75558664 20000000
1 7 6 20000000 -1.0973812220668067
9776003.2888832 10000000
1 7 7 10000000 -2.2399671111680064
19776003.2888832 20000000
1 7 7 20000000 -1.119983555583992
9904030.38127429 10000000
1 8 5 10000000 -0.9596961872570975
19904030.38127429 20000000
1 8 5 20000000 -0.4798480936285432
9880829.499828316 10000000
1 8 6 10000000 -1.1917050017168362
19880829.4998283 20000000
1 8 6 20000000 -0.5958525008584958
9877128.96515665 10000000
1 8 7 10000000 -1.2287103484335038
19877128.965156637 20000000
1 8 7 20000000 -0.6143551742168185
10057149.820952639 10000000
1 9 5 10000000 0.5714982095263998
20057149.82095264 20000000
1 9 5 20000000 0.2857491047631999
10048423.006056659 10000000
1 9 6 10000000 0.4842300605665928
20048423.00605666 20000000
1 9 6 20000000 0.2421150302832853
10059955.710154995 10000000
1 9 7 10000000 0.5995571015499523
20059955.710154995 20000000
1 9 7 20000000 0.2997785507749873
10057149.820952639 10000000
1 10 5 10000000 0.5714982095263998
20057149.82095264 20000000
1 10 5 20000000 0.2857491047631999
10048423.006056659 10000000
1 10 6 10000000 0.4842300605665928
20048423.00605666 20000000
1 10 6 20000000 0.2421150302832853
10059955.710154995 10000000
1 10 7 10000000 0.5995571015499523
20059955.710154995 20000000
1 10 7 20000000 0.2997785507749873
9815532.039148655 10000000
2 1 5 10000000 -1.8446796085134554
19863476.648252692 20000000
2 1 5 20000000 -0.6826167587365428
10664971.759797718 10000000
2 1 6 10000000 6.649717597977189
20700538.075852856 20000000
2 1 6 20000000 3.5026903792642727
10633761.06894369 10000000
2 1 7 10000000 6.337610689436901
20615989.256697364 20000000
2 1 7 20000000 3.079946283486823
9580954.076622266 10000000
2 2 5 10000000 -4.190459233777332
19993234.603603937 20000000
2 2 5 20000000 -0.03382698198031164
10316483.659233585 10000000
2 2 6 10000000 3.16483659233584
20721020.593965374 20000000
2 2 6 20000000 3.605102969826879
10706292.757386029 10000000
2 2 7 10000000 7.062927573860289
21072577.840800717 20000000
2 2 7 20000000 5.362889204003585
9470754.09275091 10000000
2 3 5 10000000 -5.292459072490896
19773530.921523504 20000000
2 3 5 20000000 -1.1323453923824833
9735889.510865454 10000000
2 3 6 10000000 -2.6411048913454582
19738628.260869116 20000000
2 3 6 20000000 -1.3068586956544226
10744401.119631682 10000000
2 3 7 10000000 7.444011196316813
20617858.291461863 20000000
2 3 7 20000000 3.0892914573093178
9585489.040120529 10000000
2 4 5 10000000 -4.145109598794705
19732671.864508994 20000000
2 4 5 20000000 -1.3366406774550255
9869806.88932969 10000000
2 4 6 10000000 -1.3019311067030914
19898504.64095124 20000000
2 4 6 20000000 -0.5074767952438108
10692636.412528127 10000000
2 4 7 10000000 6.92636412528127
20107264.208000056 20000000
2 4 7 20000000 0.536321040000276
9581751.299388627 10000000
2 5 5 10000000 -4.182487006113734
19191844.877203014 20000000
2 5 5 20000000 -4.040775613984926
9262564.647325508 10000000
2 5 6 10000000 -7.3743535267449145
19070819.90975015 20000000
2 5 6 20000000 -4.645900451249252
10509896.538621686 10000000
2 5 7 10000000 5.098965386216858
20243804.551228784 20000000
2 5 7 20000000 1.219022756143917
9953717.013561565 10000000
2 6 5 10000000 -0.4628298643843509
19536286.31802242 20000000
2 6 5 20000000 -2.318568409887911
10478976.48735827 10000000
2 6 6 10000000 4.789764873582691
20221109.381507926 20000000
2 6 6 20000000 1.105546907539634
11346168.570398152 10000000
2 6 7 10000000 13.46168570398152
21076319.74448211 20000000
2 6 7 20000000 5.381598722410552
11128153.200710585 10000000
2 7 5 10000000 11.281532007105843
20914061.899817467 20000000
2 7 5 20000000 4.570309499087344
10928044.858874721 10000000
2 7 6 10000000 9.280448588747214
20600597.60092316 20000000
2 7 6 20000000 3.002988004615781
11813666.06717605 10000000
2 7 7 10000000 18.136660671760495
21494049.376868606 20000000
2 7 7 20000000 7.470246884343035
10297395.490761897 10000000
2 8 5 10000000 2.9739549076189586
19912771.609487742 20000000
2 8 5 20000000 -0.4361419525612864
10385840.623579914 10000000
2 8 6 10000000 3.858406235799139
19968782.697727654 20000000
2 8 6 20000000 -0.15608651136173046
11340562.184204556 10000000
2 8 7 10000000 13.405621842045568
20962523.856357444 20000000
2 8 7 20000000 4.812619281787223
10105608.031002032 10000000
2 9 5 10000000 1.056080310020313
20105608.03100204 20000000
2 9 5 20000000 0.528040155010201
9975028.608706046 10000000
2 9 6 10000000 -0.24971391293954204
19975028.608706027 20000000
2 9 6 20000000 -0.12485695646986539
10770460.004589727 10000000
2 9 7 10000000 7.704600045897281
20770460.004589703 20000000
2 9 7 20000000 3.8523000229485183
9268792.898880117 10000000
2 10 5 10000000 -7.312071011198828
19268739.70016821 20000000
2 10 5 20000000 -3.6563014991589426
9317073.542020135 10000000
2 10 6 10000000 -6.8292645797986555
19316846.774070006 20000000
2 10 6 20000000 -3.4157661296499664
10197498.787053237 10000000
2 10 7 10000000 1.9749878705323631
20115936.50690026 20000000
2 10 7 20000000 0.5796825345012913
9151841.342920398 10000000
3 1 5 10000000 -8.481586570796019
19383815.417932577 20000000
3 1 5 20000000 -3.080922910337114
10641289.245518234 10000000
3 1 6 10000000 6.4128924551823285
20515359.97393159 20000000
3 1 6 20000000 2.576799869657931
10852500.005271722 10000000
3 1 7 10000000 8.525000052717214
20848179.96731413 20000000
3 1 7 20000000 4.240899836570655
9054268.438938897 10000000
3 2 5 10000000 -9.457315610611028
19631437.767880596 20000000
3 2 5 20000000 -1.8428111605970243

In [ ]:
df_par.to_csv("my_result_6s_1_2021.csv")

## 测试

In [18]:
my_data_ud = ud(my_data_1 , 6)
my_data_count = count(my_data_ud,4,5)
my_data_signal = signal(my_data_count)
my_new_situation = pd.merge(my_data_9s_1,my_data_signal,on='dates',how='left')
my_new_situation =my_new_situation.drop(my_new_situation.columns[[15,16,17,18,19,20,21,22,23,24,25,26,27,28,30]], axis=1)
my_new_situation.rename(columns={'date_x':'date','time_x':'time','open_x':'open','high_x':'high','low_x':'low','close_x':'close'},inplace=True)
n4=10000000
my_new_situation_earning,everyday_money=new_earning(my_new_situation,n4,5000000,0.00005)
per_day_count,per_day_change_volume,per_day_change_money,per_count_change_time,earning,drawback = per_day(my_new_situation_earning,n4,everyday_money)
per_day_count,per_day_change_volume,per_day_change_money,per_count_change_time,earning,drawback

13668422.864113312 10000000

(3,
 9659944.164323686,
 50730279.80330402,
 24.88213851761847,
 36.68422864113312,
 7.9446644985152925)

In [19]:
n4=10000000
my_new_situation_earning,everyday_money=new_earning(my_new_situation,n4,5000000,0.00005)

In [20]:
my_new_situation_earning[(my_new_situation_earning["yesterday_volume"]>0)|(my_new_situation_earning["today_volume"]>0)|(my_new_situation_earning["all_money"]>0)][100:150]

,date,time,dates,open,high,low,close,buy1,bc1,buy2,...,sc2,new_signal,yesterday_volume,today_volume,change_volume,all_money,change_money,new_position,new_price,change_time
18887,2021-01-13,14:36:00,2021-01-13 14:36:00,5.616,5.616,5.616,5.616,5.616,135200,5.615,...,108300,-1,0.0,5000000.0,0.0,9940713.89082,0.0,None,NaN,0
19228,2021-01-14,09:41:00,2021-01-14 09:41:00,5.620,5.620,5.618,5.619,5.617,1587600,5.616,...,590700,-1,3333333.333333,0,1666666.666667,19301833.41144,9361119.52062,None,5.616672,0
19508,2021-01-14,10:09:00,2021-01-14 10:09:00,5.577,5.577,5.576,5.576,5.576,226600,5.575,...,72500,-1,3333333.333333,0,None,19301833.41144,None,None,None,None
19509,2021-01-14,10:09:06,2021-01-14 10:09:06,5.577,5.578,5.577,5.578,5.577,994400,5.576,...,676100,NaN,1666666.666667,0,1666666.666667,28594610.14937,9292776.73793,None,5.575666,6
19628,2021-01-14,10:21:00,2021-01-14 10:21:00,5.588,5.588,5.586,5.586,5.586,639400,5.585,...,1084500,1,1666666.666667,0,None,28594610.14937,None,None,None,None
19629,2021-01-14,10:21:06,2021-01-14 10:21:06,5.588,5.589,5.588,5.589,5.588,13700,5.587,...,655900,NaN,1666666.666667,1666666.666667,1666666.666667,19278800.415505,9315809.733865,None,5.589486,6
20248,2021-01-14,11:23:00,2021-01-14 11:23:00,5.603,5.604,5.603,5.604,5.603,2600,5.602,...,2376600,1,1666666.666667,3333333.333333,1666666.666667,9937266.095475,9341534.32003,None,5.604921,0
20328,2021-01-14,13:01:00,2021-01-14 13:01:00,5.585,5.585,5.585,5.585,5.584,77800,5.583,...,1500000,-1,1666666.666667,3333333.333333,None,9937266.095475,None,None,None,None
20330,2021-01-14,13:01:12,2021-01-14 13:01:12,5.584,5.584,5.582,5.582,5.581,162100,5.580,...,600000,NaN,0.0,3333333.333333,1666666.666667,19239621.65444,9302355.558965,None,5.581413,12
20588,2021-01-14,13:27:00,2021-01-14 13:27:00,5.572,5.572,5.572,5.572,5.571,114300,5.570,...,1017000,-1,0.0,3333333.333333,0.0,19239621.65444,0.0,None,NaN,0
20908,2021-01-14,13:59:00,2021-01-14 13:59:00,5.591,5.591,5.591,5.591,5.591,20900,5.590,...,1105900,1,0.0,5000000.0,1666666.666667,9917488.90444,9322132.75,None,5.59328,0
21078,2021-01-14,14:16:00,2021-01-14 14:16:00,5.574,5.574,5.574,5.574,5.574,136500,5.573,...,62700,-1,0.0,5000000.0,0.0,9917488.90444,0.0,None,NaN,0
21118,2021-01-14,14:20:00,2021-01-14 14:20:00,5.572,5.572,5.572,5.572,5.571,692700,5.570,...,955600,-1,0.0,5000000.0,0.0,9917488.90444,0.0,None,NaN,0
21549,2021-01-15,09:34:00,2021-01-15 09:34:00,5.570,5.572,5.568,5.568,5.570,103600,5.568,...,1047300,1,5000000.0,0,None,9917488.90444,None,None,None,None
21550,2021-01-15,09:34:06,2021-01-15 09:34:06,5.570,5.570,5.566,5.566,5.565,1600,5.564,...,242800,NaN,5000000.0,1666666.666667,1666666.666667,633973.318535,9283515.585905,None,5.570109,6
21709,2021-01-15,09:50:00,2021-01-15 09:50:00,5.541,5.541,5.540,5.540,5.539,3011300,5.538,...,9700,-1,3333333.333333,1666666.666667,1666666.666667,9865178.401868,9231205.083333,None,5.538723,0
21729,2021-01-15,09:52:00,2021-01-15 09:52:00,5.531,5.531,5.528,5.530,5.529,5000,5.528,...,1382200,-1,3333333.333333,1666666.666667,None,9865178.401868,None,None,None,None
21733,2021-01-15,09:52:24,2021-01-15 09:52:24,5.529,5.530,5.529,5.530,5.530,279800,5.529,...,51600,NaN,1666666.666667,1666666.666667,1666666.666667,19076984.055221,9211805.653353,None,5.527083,24
21859,2021-01-15,10:05:00,2021-01-15 10:05:00,5.563,5.563,5.562,5.562,5.561,43000,5.560,...,2253800,1,1666666.666667,3333333.333333,1666666.666667,9804871.206091,9272112.84913,None,5.563268,0
22449,2021-01-15,11:04:00,2021-01-15 11:04:00,5.545,5.545,5.544,5.544,5.543,43100,5.542,...,583800,-1,1666666.666667,3333333.333333,None,9804871.206091,None,None,None,None
22450,2021-01-15,11:04:06,2021-01-15 11:04:06,5.544,5.544,5.544,5.544,5.543,23700,5.542,...,18000,NaN,0.0,3333333.333333,1666666.666667,19041142.836085,9236271.629993,None,5.541763,6
22569,2021-01-15,11:16:00,2021-01-15 11:16:00,5.516,5.517,5.516,5.517,5.515,625600,5.514,...,872500,-1,0.0,3333333.333333,0.0,19041142.836085,0.0,None,NaN,0
22869,2021-01-15,13:16:00,2021-01-15 13:16:00,5.480,5.480,5.478,5.478,5.478,349900,5.477,...,1500700,1,0.0,3333333.333333,None,19041142.836085,None,None,None,None
22870,2021-01-15,13:16:06,2021-01-15 13:16:06,5.480,5.480,5.480,5.480,5.479,400,5.478,...,600700,NaN,0.0,5000000.0,1666666.666667,9905844.394,9135298.442085,None,5.481179,6
22919,2021-01-15,13:21:00,2021-01-15 13:21:00,5.471,5.471,5.470,5.470,5.469,95000,5.468,...,1456000,-1,0.0,5000000.0,0.0,9905844.394,0.0,None,NaN,0
24090,2021-01-18,09:49:00,2021-01-18 09:49:00,5.456,5.456,5.456,5.456,5.455,169000,5.454,...,12000,1,5000000.0,0,None,9905844.394,None,None,None,None
24096,2021-01-18,09:49:36,2021-01-18 09:49:36,5.457,5.458,5.457,5.458,5.457,30800,5.456,...,187600,NaN,5000000.0,1666666.666667,1666666.666667,810804.93143,9095039.46257,None,5.457024,36
24800,2021-01-18,11:00:00,2021-01-18 11:00:00,5.484,5.484,5.484,5.484,5.484,26000,5.483,...,44400,1,5000000.0,1666666.666667,None,810804.93143,None,None,None,None
24801,2021-01-18,11:00:06,2021-01-18 11:00:06,5.485,5.485,5.485,5.485,5.485,4800,5.484,...,102600,NaN,5000000.0,1814466.956992,147800.290325,0,810804.93143,None,5.485814,6
25070,2021-01-18,11:27:00,2021-01-18 11:27:00,5.500,5.500,5.500,5.500,5.499,456700,5.498,...,92000,1,5000000.0,1814466.956992,0.0,0,0,None,NaN,0
25670,2021-01-18,13:57:00,2021-01-18 13:57:00,5.526,5.526,5.526,5.526,5.526,35000,5.525,...,898300,-1,5000000.0,1814466.956992,None,0,None,None,None,None
25675,2021-01-18,13:57:30,2021-01-18 13:57:30,5.524,5.524,5.523,5.523,5.522,501100,5.521,...,710700,NaN,3333333.333333,1814466.956992,1666666.666667,9204372.491697,9204372.491697,None,5.522623,30
26100,2021-01-18,14:40:00,2021-01-18 14:40:00,5.514,5.514,5.514,5.514,5.514,76400,5.513,...,1612400,-2,3185533.043008,1814466.956992,147800.290325,10019231.14729,814858.655593,None,5.513241,0
26411,2021-01-19,09:42:00,2021-01-19 09:42:00,5.498,5.498,5.498,5.498,5.497,167500,5.496,...,1926300,-1,5000000.0,0,None,10019231.14729,None,None,None,None
26414,2021-01-19,09:42:18,2021-01-19 09:42:18,5.495,5.495,5.493,5.495,5.494,546000,5.493,...,21200,NaN,3333333.333333,0,1666666.666667,19177817.661733,9158586.514443,None,5.495152,18
26701,2021-01-19,10:11:00,2021-01-19 10:11:00,5.508,5.508,5.508,5.508,5.507,62100,5.506,...,1064000,1,3333333.333333,0,None,19177817.661733,None,None,None,None
26702,2021-01-19,10:11:06,2021-01-19 10:11:06,5.508,5.508,5.505,5.505,5.505,80700,5.504,...,1936600,NaN,3333333.333333,1666666.666667,1666666.666667,9996747.897863,9181069.76387,None,5.508642,6
26911,2021-01-19,10:32:00,2021-01-19 10:32:00,5.492,5.492,5.491,5.491,5.491,1062100,5.490,...,81100,-1,1666666.666667,1666666.666667,1666666.666667,19147352.444758,9150604.546895,None,5.490363,0
27301,2021-01-19,11:11:00,2021-01-19 11:11:00,5.484,5.484,5.484,5.484,5.483,627900,5.482,...,100,-1,1666666.666667,1666666.666667,None,19147352.444758,None,None,None,None
27303,2021-01-19,11:11:12,2021-01-19 11:11:12,5.484,5.484,5.484,5.484,5.484,656000,5.483,...,78900,NaN,0.0,1666666.666667,1666666.666667,28285079.735548,9137727.29079,None,5.482636,12
27701,2021-01-19,13:21:00,2021-01-19 13:21:00,5.509,5.509,5.509,5.509,5.509,289600,5.508,...,839500,1,0.0,1666666.666667,None,28285079.735548,None,None,None,None
27703,2021-01-19,13:21:12,2021-01-19 13:21:12,5.511,5.511,5.509,5.509,5.509,184300,5.508,...,2382300,NaN,0.0,3333333.333333,1666666.666667,19099215.965323,9185863.770225,None,5.511518,12
27851,2021-01-19,13:36:00,2021-01-19 13:36:00,5.486,5.486,5.486,5.486,5.485,872400,5.484,...,1481300,-1,0.0,3333333.333333,0.0,19099215.965323,0.0,None,NaN,0
27871,2021-01-19,13:38:00,2021-01-19 13:38:00,5.477,5.479,5.477,5.479,5.477,7600,5.476,...,177000,-1,0.0,3333333.333333,0.0,19099215.965323,0.0,None,NaN,0
28301,2021-01-19,14:21:00,2021-01-19 14:21:00,5.430,5.430,5.428,5.430,5.429,2100,5.428,...,1268400,-1,0.0,3333333.333333,0.0,19099215.965323,0.0,None,NaN,0
28491,2021-01-19,14:40:00,2021-01-19 14:40:00,5.423,5.423,5.423,5.423,5.423,2305500,5.422,...,652800,4,0.0,3333333.333333,None,19099215.965323,None,None,None,None
28494,2021-01-19,14:40:18,2021-01-19 14:40:18,5.424,5.428,5.424,5.428,5.428,273900,5.426,...,1319000,NaN,0.0,5000000.0,1666666.666667,10052726.930153,9046489.03517,None,5.427893,18
29252,2021-01-20,10:27:00,2021-01-20 10:27:00,5.481,5.481,5.481,5.481,5.480,41600,5.479,...,526400,1,5000000.0,0,None,10052726.930153,None,None,None,None
29253,2021-01-20,10:27:06,2021-01-20 10:27:06,5.480,5.480,5.479,5.479,5.479,42400,5.478,...,600300,NaN,5000000.0,1666666.666667,1666666.666667,917283.847503,9135443.08265,None,5.481266,6
29432,2021-01-20,10:45:00,2021-01-20 10:45:00,5.488,5.488,5.488,5.488,5.488,526500,5.487,...,43800,1,5000000.0,1666666.666667,None,917283.847503,None,None,None,None

In [31]:
my_new_situation_earning[31668:31693]

,date,time,dates,open,high,low,close,buy1,bc1,buy2,...,sc2,new_signal,yesterday_volume,today_volume,change_volume,all_money,change_money,new_position,new_price,change_time
31668,2022-01-28,14:40:27,2022-01-28 14:40:27,4.576,4.576,4.576,4.576,4.576,86300,4.573,...,772700,NaN,1e+06,4e+06,3e+06,1.0167e+07,1.37331e+07,None,4.57769,27
31669,2022-01-28,14:40:36,2022-01-28 14:40:36,4.573,4.573,4.573,4.573,4.572,18000,4.571,...,301600,NaN,None,None,None,None,None,None,None,None
31670,2022-01-28,14:40:45,2022-01-28 14:40:45,4.572,4.572,4.572,4.572,4.571,1200,4.570,...,287700,NaN,None,None,None,None,None,None,None,None
31671,2022-01-28,14:40:54,2022-01-28 14:40:54,4.572,4.572,4.572,4.572,4.570,94500,4.569,...,232300,NaN,None,None,None,None,None,None,None,None
31672,2022-01-28,14:41:00,2022-01-28 14:41:00,4.571,4.571,4.571,4.571,4.568,1069600,4.567,...,893000,None,0,4e+06,1e+06,2.75764e+07,1.74094e+07,None,17.4094,60
31673,2022-01-28,14:41:09,2022-01-28 14:41:09,4.570,4.570,4.570,4.570,4.569,7900,4.568,...,7900,NaN,None,None,None,None,None,None,None,None
31674,2022-01-28,14:41:18,2022-01-28 14:41:18,4.570,4.570,4.570,4.570,4.569,13500,4.568,...,202000,NaN,None,None,None,None,None,None,None,None
31675,2022-01-28,14:41:27,2022-01-28 14:41:27,4.569,4.569,4.569,4.569,4.568,527900,4.567,...,280600,NaN,None,None,None,None,None,None,None,None
31676,2022-01-28,14:41:36,2022-01-28 14:41:36,4.570,4.570,4.570,4.570,4.569,300,4.568,...,540600,NaN,None,None,None,None,None,None,None,None
31677,2022-01-28,14:41:45,2022-01-28 14:41:45,4.568,4.568,4.568,4.568,4.567,300700,4.566,...,5400,NaN,None,None,None,None,None,None,None,None
31678,2022-01-28,14:41:54,2022-01-28 14:41:54,4.568,4.568,4.568,4.568,4.567,995200,4.566,...,933900,NaN,None,None,None,None,None,None,None,None
31679,2022-01-28,14:42:00,2022-01-28 14:42:00,4.567,4.567,4.567,4.567,4.566,377500,4.565,...,921500,None,None,None,None,None,None,None,None,None
31680,2022-01-28,14:42:09,2022-01-28 14:42:09,4.569,4.569,4.569,4.569,4.568,24300,4.567,...,962600,NaN,None,None,None,None,None,None,None,None
31681,2022-01-28,14:42:18,2022-01-28 14:42:18,4.570,4.570,4.570,4.570,4.569,4900,4.568,...,500,NaN,None,None,None,None,None,None,None,None
31682,2022-01-28,14:42:27,2022-01-28 14:42:27,4.570,4.570,4.570,4.570,4.569,907800,4.568,...,600,NaN,None,None,None,None,None,None,None,None
31683,2022-01-28,14:42:36,2022-01-28 14:42:36,4.570,4.570,4.570,4.570,4.570,317800,4.569,...,49100,NaN,None,None,None,None,None,None,None,None
31684,2022-01-28,14:42:45,2022-01-28 14:42:45,4.572,4.572,4.572,4.572,4.571,235400,4.570,...,277200,NaN,None,None,None,None,None,None,None,None
31685,2022-01-28,14:42:54,2022-01-28 14:42:54,4.572,4.572,4.572,4.572,4.572,231700,4.571,...,9800,NaN,None,None,None,None,None,None,None,None
31686,2022-01-28,14:43:00,2022-01-28 14:43:00,4.572,4.572,4.572,4.572,4.572,81100,4.571,...,9800,None,None,None,None,None,None,None,None,None
31687,2022-01-28,14:43:09,2022-01-28 14:43:09,4.572,4.572,4.572,4.572,4.571,288900,4.570,...,537400,NaN,None,None,None,None,None,None,None,None
31688,2022-01-28,14:43:18,2022-01-28 14:43:18,4.572,4.572,4.572,4.572,4.571,3300,4.570,...,937400,NaN,None,None,None,None,None,None,None,None
31689,2022-01-28,14:43:27,2022-01-28 14:43:27,4.571,4.571,4.571,4.571,4.571,5000,4.570,...,957400,NaN,None,None,None,None,None,None,None,None
31690,2022-01-28,14:43:36,2022-01-28 14:43:36,4.571,4.571,4.571,4.571,4.570,16700,4.568,...,470600,NaN,None,None,None,None,None,None,None,None
31691,2022-01-28,14:43:45,2022-01-28 14:43:45,4.570,4.570,4.570,4.570,4.568,25200,4.567,...,739900,NaN,None,None,None,None,None,None,None,None
31692,2022-01-28,14:43:54,2022-01-28 14:43:54,4.566,4.566,4.566,4.566,4.566,604600,4.565,...,44200,NaN,None,None,None,None,None,None,None,None