In [1]:
import numpy as np
import pandas as pd
import datetime
from tqdm import tqdm 

import warnings 
warnings.filterwarnings('ignore')

In [2]:
def ud(data,n1):
    data["ud"] = np.sign(data["close"]-data['close'].shift(n1))
    
    ud_cumm=list(np.zeros(n1))
    start = None
    cumm = 0
    for i in range(n1,len(data["date"])):
        if start is None:
            ud_cumm.append(data["ud"][i])
            start = data["ud"][i]
            cumm = data["ud"][i]
        else:
            if data["ud"][i] == start:
                cumm += data["ud"][i]
                ud_cumm.append(cumm)
            else:
                ud_cumm.append(data["ud"][i])
                start = data["ud"][i]
                cumm = data["ud"][i]
    data["ud_cumm"] = ud_cumm
    return data

In [3]:
def count(data,n2,n3):
    
    data["start_or_not"]=None
    data["sell_count"] = None
    data["buy_count"] = None
    data["signal"]=None
    data["price_high"] =None
    data["price_low"] =None
    count_buy = 0
    count_sell = 0
    price_low = None
    price_high = None
    buying_begin=False
    selling_begin = False
    last_buy_price=None
    last_sell_price =None
    
    for i in range(0,len(data["date"])):            
        if buying_begin and count_buy<n3: #买入计数
            price_low = min(data["low"][i],price_low) if price_low else data["low"][i]
            if data["close"][i]>=data["high"][i-2] and data["high"][i]>data["high"][i-1]:
                if count_buy == 0:
                    count_buy += 1
                    data.loc[i,("buy_count")] = count_buy
                    last_buy_price = data["close"][i]
                elif count_buy != 0 and data["close"][i]>last_buy_price:
                    count_buy += 1
                    data.loc[i,("buy_count")] = count_buy
                    last_buy_price = data["close"][i]  
            
                    
        if selling_begin and count_sell<n3: #卖出计数
            price_high = max(data["high"][i],price_high) if price_high else data["high"][i]
            if data["close"][i]<=data["low"][i-2] and data["low"][i]<data["low"][i-1]:
                if count_sell == 0:
                    count_sell += 1
                    data.loc[i,("sell_count")] = count_sell
                    last_sell_price = data["close"][i]
                elif count_sell!=0 and data["close"][i] < last_sell_price:
                    count_sell += 1
                    data.loc[i,("sell_count")] = count_sell
                    last_sell_price = data["close"][i]
            
                    
        if data["ud_cumm"][i] == n2: #卖出启动
            data.loc[i,("start_or_not")] =-1
            count_sell = 0 #初始化计数次数
            data.loc[i,("sell_count")] = count_sell
            selling_begin = True
            price_high = None
        elif data["ud_cumm"][i] == -n2: #买入启动
            data.loc[i,("start_or_not")] =1
            count_buy = 0 #初始化计数次数
            data.loc[i,("buy_count")] = count_buy
            buying_begin = True
            price_low = None
                    
        if count_buy == n3:
            data["signal"][i] = 1
            count_buy = 0
            data.loc[i,("price_low")] = price_low
            buying_begin = False
            
        if count_sell == n3:
            data["signal"][i] = -1
            count_sell = 0
            data.loc[i,("price_high")] = price_high
            selling_begin = False

    return data

In [4]:
def signal(data):
    
    day_first_idexs = data.drop_duplicates('date').index.values #取出相同date的第一个日期index 如0 240 480
    day_idexs = np.hstack([day_first_idexs,data.shape[0]]) #加上最后一个index 如0 240 480。。。57840（方便后面取每日区间）
    my_data_dfs = []
    for day_begin, day_end in zip(day_idexs[:-1], day_idexs[1:]):#取每一天的区间
        tmp_df = data.iloc[day_begin: day_end, :]    
        tmp_df["new_signal"]=None
        tmp_df["new_signal"][tmp_df["time"]< '14:40:00'] = tmp_df.signal.shift(1)
        tmp_df["stop or not"] =False
        direction = None
        init = False
        count = 0
        
        for i in range(day_begin, day_end):
            
            if tmp_df["time"][i] == '14:40:00':
                tmp_df.loc[i,("new_signal")] = -count
#                 print("------------------------------------")
            elif tmp_df["time"][i] < '14:40:00':
                if direction ==None and tmp_df["signal"][i] ==1:
                    direction =1
                    price_low = data["price_low"][i]
                    count+=1
#                     print("first")

                elif direction ==None and tmp_df["signal"][i] ==-1 :
                    direction = -1
                    count+=-1
#                     print("second")

                elif direction == 1:     
#                     print(tmp_df["low"][i], price_low)
                    if tmp_df["low"][i] - price_low <= 0 and tmp_df["time"][i] < '14:39:00':
                        tmp_df.loc[i+1,("new_signal")] = -1
                        count-=1
                        tmp_df.loc[i+1,("price_low")] = price_low
                        tmp_df.loc[i+1,("stop or not")] = True
                        direction = -1
#                         print("third")
                    elif tmp_df["signal"][i] ==1:
                        price_low = data["price_low"][i]
                        count+=1
#                         print("fourth")
                    elif tmp_df["signal"][i] ==-1:
                        count-=1
#                         print("fourth2")
                elif direction == -1: 
                    if tmp_df["signal"][i] ==1:
                        price_low = data["price_low"][i]
                        count+=1
                        direction =1
#                         print("fifth")
                    elif tmp_df["signal"][i] ==-1:
                        count-=1
                        direction = -1
#                         print("six")

            
        
        '''
            signal：上述策略中的信号，有1，-1，0 三种取值
            new_signal 针对只能开平多仓的新信号点
            my_signal 在new_signal基础上加上日内平仓 表现为14:40:00 发出-1/1信号
            init是初始化阶段，即第一次进行开仓或者平仓操作，初始化阶段后将init设置为false
            
            
            特殊：由于日内平仓，当时间>14:40:00，就算有signal信号，也不进行开仓操作。
        '''

        my_data_dfs.append(tmp_df)
    """ 拼接得到新DataFrane """
    my_data = pd.concat(my_data_dfs)
    return my_data

In [5]:
#持仓计算
def position(data, shift_period=1):
    signal = data['new_signal']
    position = signal.fillna(method='ffill').shift(shift_period).fillna(0)
    data['position'] = position
    return data

## 算实际开仓

In [7]:
#读取数据
my_data=pd.read_csv(
    '510300_2021.csv', sep=',', parse_dates=True)
my_data_1 = my_data[my_data["date"]>='2021-01-01']
my_data_1 = my_data_1[my_data_1["dates"]<='2021-05-31 15:00:00']
my_data_1 =my_data_1.reset_index(drop=True)
my_data_1

             date      time                dates   open   high    low  close
0      2021-01-04  09:31:00  2021-01-04 09:31:00  5.280  5.298  5.278  5.288
1      2021-01-04  09:32:00  2021-01-04 09:32:00  5.290  5.290  5.283  5.283
2      2021-01-04  09:33:00  2021-01-04 09:33:00  5.283  5.286  5.281  5.283
3      2021-01-04  09:34:00  2021-01-04 09:34:00  5.281  5.281  5.270  5.272
4      2021-01-04  09:35:00  2021-01-04 09:35:00  5.274  5.274  5.263  5.265
...           ...       ...                  ...    ...    ...    ...    ...
23275  2021-05-31  14:56:00  2021-05-31 14:56:00  5.335  5.338  5.335  5.338
23276  2021-05-31  14:57:00  2021-05-31 14:57:00  5.338  5.339  5.337  5.338
23277  2021-05-31  14:58:00  2021-05-31 14:58:00  5.338  5.338  5.337  5.338
23278  2021-05-31  14:59:00  2021-05-31 14:59:00  5.338  5.339  5.336  5.338
23279  2021-05-31  15:00:00  2021-05-31 15:00:00  5.337  5.339  5.337  5.338

[23280 rows x 7 columns]

## 实际开仓（加上12s的频）

In [8]:
my_data_3s=pd.read_csv(
    '510300_2021_12s_1.csv', sep=',', parse_dates=True)
my_data_3s_1 = my_data_3s[my_data_3s["date"]>='2021-01-01']
my_data_3s_1 = my_data_3s_1[my_data_3s_1["dates"]<='2021-05-31 15:00:00']
my_data_3s_1 = my_data_3s_1[my_data_3s_1["time"]>='09:31:00']
my_data_9s_1 =my_data_3s_1.reset_index(drop=True)
my_data_9s_1

,date,time,dates,open,high,low,close,buy1,bc1,buy2,bc2,sale1,sc1,sale2,sc2
0,2021-01-04,09:31:00,2021-01-04 09:31:00,5.289,5.289,5.288,5.288,5.288,479000,5.287,77200,5.289,499300,5.290,126800
1,2021-01-04,09:31:12,2021-01-04 09:31:12,5.290,5.290,5.288,5.290,5.290,971900,5.289,140400,5.291,1200,5.292,14400
2,2021-01-04,09:31:24,2021-01-04 09:31:24,5.290,5.290,5.290,5.290,5.289,65500,5.288,609800,5.290,59400,5.291,156700
3,2021-01-04,09:31:36,2021-01-04 09:31:36,5.289,5.289,5.288,5.288,5.287,13200,5.286,59400,5.288,413100,5.289,1076300
4,2021-01-04,09:31:48,2021-01-04 09:31:48,5.286,5.286,5.285,5.286,5.285,600,5.283,58000,5.286,199300,5.287,1232400
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
116007,2021-05-31,14:59:12,2021-05-31 14:59:12,5.337,5.338,5.337,5.337,5.337,319883,5.336,2334300,5.338,338700,5.339,1660900
116008,2021-05-31,14:59:24,2021-05-31 14:59:24,5.338,5.339,5.337,5.339,5.338,636800,5.337,112783,5.339,146800,5.340,1856000
116009,2021-05-31,14:59:36,2021-05-31 14:59:36,5.338,5.338,5.338,5.338,5.338,175300,5.337,322483,5.339,676700,5.340,1861600
116010,2021-05-31,14:59:48,2021-05-31 14:59:48,5.338,5.339,5.338,5.339,5.338,165200,5.337,307583,5.339,1871600,5.340,965600
116011,2021-05-31,15:00:00,2021-05-31 15:00:00,5.339,5.339,5.338,5.338,5.338,500,5.337,304283,5.339,780500,5.340,1266600

In [9]:
#计算新的开平仓收益
def new_earning(data,init_money,init_volume,r0):
    
    '''
        r0:交易单边手续费
        times:每日交易次数  = 固定为3次
        初始化持有金额和仓位（初始持有：两者之和）：
            init_money              初始持有金额
            init_volume             初始持有仓位 
        
        描述变量：
            hold_volume             持有仓位
            all_volume              数量上等于hold_volume 为方便计算引入的变量，目的：比如多仓下平仓，用hold_volume来计算，
                                    判断平仓点为hold_volume=0,而all_volume保留为平仓前的多仓持有仓位
                                    
            yesterday_volume        昨日持仓量
            today_volume            今日持仓量
            change_volume           单次买卖操作变化持仓量

            hold_money              持有金额,初始化为初始持有金额
            all_money               数量上等于hold_money 为方便计算引入的变量
            change_money            单次买卖操作变化金额
            everyday_money          list 每日初始持有金额，第一天为init_money
            
            change_time             单次买卖操作时间（second）
            
            new_price               平仓开仓的价格，all_money/all_volume
            per_time_volume         每次操作的量
            
        标识：     
            buy_signal              买入标识
            sell_signal             卖出标识
            begin_time              每次操作时开仓时间（用来计算每次买卖的所用时长）
            
    '''
    data["yesterday_volume"]=None
    data["today_volume"]=None
    data["change_volume"]=None
    data["all_money"]=None
    data["change_money"]=None
    data["new_position"]=None
    data["new_price"]=None
    data["change_time"]=None
    hold_money=init_money                   #初始持有金额
    all_money=hold_money
    yesterday_volume = init_volume           #昨日及之前持仓
    today_volume = 0                      #今日持仓
    everyday_money=[]                     #每日初始金额
    times =3
    per_time_volume =init_volume/times   #计算每次操作的量
#     print(times,(data[data['new_signal']>0].shape[0]+data[data['new_signal']<0].shape[0]))
    
    day_first_idexs = data.drop_duplicates('date').index.values #取出相同date的第一个日期index
    day_idexs = np.hstack([day_first_idexs,data.shape[0]]) #加上最后一个index （方便后面取每日区间）
    my_data_dfs = []
    for day_begin, day_end in zip(day_idexs[:-1], day_idexs[1:]):#取每一天的区间
        tmp_df = data.iloc[day_begin: day_end, :]   
        #yesterday_volume                  #每日初始持有仓位
        yesterday_volume += today_volume   #每日初始持有仓位 = 昨日的留存的yesterday_volume + 昨日的today_volume
        everyday_money.append(all_money)   #每日初始持有金额计入

        
        #初始化今日量，买卖signal，开仓时间
        today_volume =0                    
        buy_signal = 0
        sell_signal = 0
        begin_time = 0
        
        for i in range(day_begin, day_end):
            if(tmp_df["time"][i]<'14:40:00'): 
                '''
                    在14:40:00前: 
                    买入条件：发出买入信号（new_signal=1），同时今日买入的仓位<初始仓位
                        初始化：发出buy_signal,hold_volume单次初始持仓=0，持有金额=all_money
                                单次所需买入的量为min(per_time_volume，init_volume-today_volume)
                                begin_time = 发出信号的时间
                        
                    卖出条件：发出卖出信号（new_signal=-1），同时昨日持仓>0
                        初始化：发出sell_signal,hold_volume单次卖出的量min(yesterday_volume,per_time_volume)，
                                per_money 单次操作金额=0
                                begin_time = 发出信号的时间
                '''                
                
                if(tmp_df["new_signal"][i]==1 and today_volume<init_volume):           
                    buy_signal=1
                    hold_volume=0
                    hold_money=all_money
                    need_volume=min(per_time_volume,init_volume-today_volume)
                    tmp_df.loc[i,("all_money")]=all_money
                    tmp_df.loc[i,("yesterday_volume")]=yesterday_volume
                    tmp_df.loc[i,("today_volume")]=today_volume
                    begin_time = tmp_df["time"][i]


                elif(tmp_df["new_signal"][i]==-1):        
                    sell_signal=1
                    hold_volume =  min(yesterday_volume,per_time_volume)
                    all_volume = hold_volume
                    per_money = 0
                    tmp_df.loc[i,("all_money")]=all_money
                    tmp_df.loc[i,("yesterday_volume")]=yesterday_volume
                    tmp_df.loc[i,("today_volume")]=today_volume  
                    begin_time = tmp_df["time"][i]
                    
            
            elif(tmp_df["time"][i]=='14:40:00' ):
                '''
                    在14:40:00后: 日内平仓操作
                    买入条件：today_volume+yesterday_volume-init_volume<0
                        初始化：发出buy_signal,hold_volume单次初始持仓=0，持有金额=all_money
                                单次所需买入的量为 init_volume-(today_volume+yesterday_volume)
                                begin_time = 发出信号的时间
                        
                    卖出条件：today_volume+yesterday_volume-init_volume>0
                        初始化：发出sell_signal,hold_volume单次卖出的量，
                                per_money 单次操作金额=0
                                begin_time = 发出信号的时间
                '''
#                 if (buy_signal==1):
#                     hold_money=all_money
#                     buy_signal=0
#                 elif(sell_signal==1):
#                     sell_signal=0
                    
                if(today_volume+yesterday_volume-init_volume>0):  
                    if(yesterday_volume>=today_volume+yesterday_volume-init_volume):
                        hold_volume =  today_volume+yesterday_volume-init_volume
                    else:
                        hold_volume =  yesterday_volume
                    sell_signal=1
                    all_volume = hold_volume
                    per_money = 0
                    tmp_df.loc[i,("all_money")]=all_money
                    tmp_df.loc[i,("yesterday_volume")]=yesterday_volume
                    tmp_df.loc[i,("today_volume")]=today_volume
                    begin_time = tmp_df["time"][i]
                elif(today_volume+yesterday_volume-init_volume<0): 
                    buy_signal=1
                    hold_volume=0
                    hold_money=all_money
                    need_volume = init_volume-(today_volume+yesterday_volume)
                    tmp_df.loc[i,("all_money")]=all_money
                    tmp_df.loc[i,("yesterday_volume")]=yesterday_volume
                    tmp_df.loc[i,("today_volume")]=today_volume
                    begin_time = tmp_df["time"][i]
                     
                
            if(buy_signal ==1):
            
                '''
                    对于每次开仓过程中有三种情况：
                    1.持有金额>卖1价*卖1量+卖2价*卖2量 
                    2.卖1价*卖1量+卖2价*卖2量>=持有金额>卖2价*卖2量 
                    3.持有金额<=卖1价*卖1量  此时以卖1价买入
                    hold_volume 本次买入的仓位 0-->
                    today_volume 今日仓位
                    hold_money 持有的钱(变量)
                    all_money 本次操作之前持有的钱 --> hold_money
                '''
                #计算两档金额
                money_1 = tmp_df["sale1"][i]*tmp_df["sc1"][i]
                money_2 = tmp_df["sale2"][i]*tmp_df["sc2"][i]

                if(need_volume-hold_volume>tmp_df["sc1"][i] and need_volume-hold_volume<=tmp_df["sc1"][i]+tmp_df["sc2"][i]):
                    #需要再扫一档 +二档的一部分
                    need_money = (money_1 + (need_volume-hold_volume-tmp_df["sc1"][i])*tmp_df["sale2"][i])*(1+r0)
                    if(hold_money>=need_money):
                        #钱够扫
                        hold_volume = need_volume
                        hold_money -= need_money
                    else:
                        #钱只够扫一档+二档的小部分， 不能扫满所需二档
                        if(hold_money>money_1*(1+r0)):
                            hold_volume = hold_volume + tmp_df["sc1"][i] + (hold_money - money_1*(1+r0))*(1-r0)/tmp_df["sale2"][i]
                            hold_money = 0
                        else:
                            #钱只够扫一档一部分
                            hold_volume = hold_volume + hold_money*(1-r0)/tmp_df["sale1"][i]
                            hold_money = 0  

                elif(need_volume-hold_volume>tmp_df["sc1"][i]+tmp_df["sc2"][i]):   
                    #需要再扫一档 +二档
                    need_money = (money_1 + money_2)*(1+r0)
                    if(hold_money>need_money):
                        #钱够扫
                        hold_volume += tmp_df["sc1"][i]+tmp_df["sc2"][i]
                        hold_money -= need_money
                    else:
                        #钱只够扫一档+二档的小部分， 不能扫满所需二档
                        if(hold_money>money_1*(1+r0)):
                            hold_volume = hold_volume + tmp_df["sc1"][i] + (hold_money - money_1*(1+r0))*(1-r0)/tmp_df["sale2"][i]
                            hold_money = 0
                        else:
                            #钱只够扫一档一部分
                            hold_volume = hold_volume + hold_money*(1-r0)/tmp_df["sale1"][i]
                            hold_money = 0  

                else:
                    #需要再扫一档 
                    need_money = (need_volume-hold_volume)*tmp_df["sale1"][i]*(1+r0)
                    if(hold_money>need_money):
                        #钱够扫
                        hold_volume = need_volume
                        hold_money -= need_money
                    else:
                        #钱只够扫一档一部分
                        hold_volume = hold_volume + hold_money*(1-r0)/tmp_df["sale1"][i]
                        hold_money = 0  

                #如果上次买入操作在14:39:40前还没结束，那么结束此次买入操作，等到14:40:00进行日内平仓
                if(hold_volume>=need_volume or hold_money== 0 or (tmp_df.loc[i,("time")]>'14:39:40' and tmp_df.loc[i,("time")]<'14:40:00')):
                    today_volume+=hold_volume
                    tmp_df.loc[i,("today_volume")]=today_volume
                    tmp_df.loc[i,("yesterday_volume")]=yesterday_volume
                    tmp_df.loc[i,("change_volume")]=hold_volume
                    tmp_df.loc[i,("change_money")]=all_money-hold_money
                    tmp_df.loc[i,("new_price")]=(all_money-hold_money)/(hold_volume)      
                    all_money = hold_money
                    tmp_df.loc[i,("all_money")]=all_money
                    tmp_df.loc[i,("change_time")]=(datetime.datetime.strptime(tmp_df.loc[i,("time")], "%H:%M:%S")-datetime.datetime.strptime(begin_time, "%H:%M:%S")).seconds
                    buy_signal=0
                    
                
                           
            elif(sell_signal ==1):
                '''
                    对于每次平仓过程中有三种情况：
                    1.持有仓位>买1量+买2量 
                    2.买1量+买2量>=持有仓位>买1量 
                    3.持有仓位<=买1量  此时以买1价都卖出
                    per_money 卖出的钱
                    hold_money/all_money 总持有钱
                    hold_volume 初始为per_time_volume 每次卖出的量 --> 0
                    all_volume 初始的hold_volume --> 0
                '''
                money_1 = tmp_df["buy1"][i]*tmp_df["bc1"][i]
                money_2 = tmp_df["buy2"][i]*tmp_df["bc2"][i]
                
                #如果上次卖出操作在14:39:40前还没结束，那么结束此次卖出操作，等到14:40:00进行日内平仓
                if(hold_volume-tmp_df["bc1"][i]-tmp_df["bc2"][i]>0 and (tmp_df.loc[i,("time")]<='14:39:40' or tmp_df.loc[i,("time")]>='14:40:00')):
                    hold_volume=hold_volume - tmp_df["bc1"][i]-tmp_df["bc2"][i]
                    per_money = per_money+(money_1+money_2)*(1-r0)
                else: 
                    if(tmp_df.loc[i,("time")]<='14:39:40' or tmp_df.loc[i,("time")]>='14:40:00'):
                        if (hold_volume-tmp_df["bc1"][i]-tmp_df["bc2"][i]<=0 and hold_volume-tmp_df["bc1"][i]>0):
                            per_money += (money_1+(hold_volume-tmp_df["bc1"][i])*tmp_df['buy2'][i])*(1-r0)
                        else:
                            per_money +=  hold_volume*tmp_df["buy1"][i]*(1-r0) 
                        # 仓位在卖掉后为0
                        hold_volume=0
                    elif(tmp_df.loc[i,("time")]>'14:39:40'and tmp_df.loc[i,("time")]<'14:40:00'):
                        all_volume = all_volume-hold_volume
                        
                    yesterday_volume -= all_volume
                    tmp_df.loc[i,("yesterday_volume")]=yesterday_volume
                    tmp_df.loc[i,("today_volume")]=today_volume
                    tmp_df.loc[i,("change_volume")]=all_volume
                    tmp_df.loc[i,("change_money")]=per_money
                    hold_money += per_money
                    all_money=hold_money
                    tmp_df.loc[i,("all_money")]=all_money
                    tmp_df.loc[i,("new_price")]=(per_money)/all_volume
                    tmp_df.loc[i,("change_time")]=(datetime.datetime.strptime(data.loc[i,("time")], "%H:%M:%S")-datetime.datetime.strptime(begin_time, "%H:%M:%S")).seconds
                    all_volume=0
                    sell_signal=0
                
            
        my_data_dfs.append(tmp_df)
    """ 拼接得到新DataFrane """
    my_data = pd.concat(my_data_dfs) 
    return my_data,everyday_money

In [10]:
#算每日操作次数 每日操作金额 每日操作平均所需时长
def per_day(data,money,everyday_money):
    '''
       每日操作次数 per_day_count 
       每日操作量 per_day_change_volume
       每日操作金额 per_day_change_money
       每次操作平均所需时长 per_day_change_time
       最大回撤 drawback
    
    '''
#     count_num = data[(data['new_signal']>0) or (data['new_signal']<0)].shape[0] #操作次数
    count_num = data[data['new_signal']>0].shape[0]+data[data['new_signal']<0].shape[0] #操作次数
    total_change_volume = data['change_volume'].dropna().values.sum()
    total_change_money = data['change_money'].dropna().values.sum()
    total_change_time = data['change_time'].dropna().values.sum()
    total_days = data.drop_duplicates('date').index.values.size
    per_day_count = 3
    per_day_change_volume =total_change_volume /total_days
    per_day_change_money = total_change_money /total_days
    per_count_change_time = total_change_time /count_num
    earning = (my_new_situation_earning['all_money'].dropna().values[-1]/money -1)*100
    print(my_new_situation_earning['all_money'].dropna().values[-1],money)
    
    drawback_list = []
    for i in range(0,len(everyday_money)):
        drawback_list.append((everyday_money[i]-min(everyday_money[i:]))/everyday_money[i])
    drawback = max(drawback_list)*100
    return per_day_count,per_day_change_volume,per_day_change_money,per_count_change_time,earning,drawback

# per_day_count,per_day_change_volume,per_day_change_money,per_count_change_time,earning = per_day(my_new_situation_earning,20000000)
# per_day_count,per_day_change_volume,per_day_change_money,per_count_change_time,earning

In [ ]:
performance=[]
drawback=[]
per_money_day=[]
N1 = np.arange(1,11)#11 6 7
N2 = np.arange(1,11)
N3 = np.arange(5,8)
money=[10000000,20000000]
df_par = pd.DataFrame()
df_par["n1"]=np.zeros(600)
df_par["n2"]=np.zeros(600)
df_par["n3"]=np.zeros(600)
df_par["per_day_count"]=np.zeros(600)
df_par["per_day_change_volume"]=np.zeros(600)
df_par["per_day_change_money"]=np.zeros(600)
df_par["per_count_change_time"]=np.zeros(600)
df_par["performance"]=np.zeros(600)
df_par["drawback"]=np.zeros(600)
# print(N1,N2,N3)
m1,m2,m3,m4,m5,m6,m7,m8,m9,m10 =[],[],[],[],[],[],[],[],[],[]
for n1 in N1:
    for n2 in N2:
        for n3 in N3:
            my_data_ud = ud(my_data_1 , n1)
            my_data_count = count(my_data_ud,n2,n3)
            my_data_signal = signal(my_data_count)
            my_new_situation = pd.merge(my_data_9s_1,my_data_signal,on='dates',how='left')
            my_new_situation =my_new_situation.drop(my_new_situation.columns[[15,16,17,18,19,20,21,22,23,24,25,26,27,28,30]], axis=1)
            my_new_situation.rename(columns={'date_x':'date','time_x':'time','open_x':'open','high_x':'high','low_x':'low','close_x':'close'},inplace=True)
                        
            for n4 in money:
                my_new_situation_earning,everyday_money=new_earning(my_new_situation,n4,5000000,0.00005)
                per_day_count,per_day_change_volume,per_day_change_money,per_count_change_time,earning,drawback = per_day(my_new_situation_earning,n4,everyday_money)
                m1.append(int(n1))
                m2.append(int(n2))
                m3.append(int(n3))
                m4.append(int(n4))
                m5.append(per_day_count)
                m6.append(per_day_change_volume)
                m7.append(per_day_change_money)
                m8.append(per_count_change_time)
                m9.append(earning)
                m10.append(drawback)
                print(n1,n2,n3,n4,earning)

df_par["n1"]=m1
df_par["n2"]=m2
df_par["n3"]=m3
df_par["money"]=m4
df_par["per_day_count"]=m5
df_par["per_day_change_volume"]=m6
df_par["per_day_change_money"]=m7
df_par["per_count_change_time"]=m8
df_par["performance"]=m9
df_par["drawback"]=m10
df_par

9286744.722225357 10000000
1 1 5 10000000 -7.132552777746437
19411628.831860885 20000000
1 1 5 20000000 -2.941855840695573
9611213.88109796 10000000
1 1 6 10000000 -3.887861189020403
19557292.78995087 20000000
1 1 6 20000000 -2.213536050245646
10017918.62683107 10000000
1 1 7 10000000 0.17918626831070483
20019119.40487981 20000000
1 1 7 20000000 0.09559702439905227
9314271.618667103 10000000
1 2 5 10000000 -6.857283813328962
19547482.34270393 20000000
1 2 5 20000000 -2.2625882864803493
10764473.187310934 10000000
1 2 6 10000000 7.644731873109345
21123388.98965606 20000000
1 2 6 20000000 5.616944948280311
10748583.011733565 10000000
1 2 7 10000000 7.485830117335657
21004486.74093997 20000000
1 2 7 20000000 5.022433704699858
9692935.386360243 10000000
1 3 5 10000000 -3.07064613639757
19982152.798074603 20000000
1 3 5 20000000 -0.08923600962698064
9441901.671649422 10000000
1 3 6 10000000 -5.58098328350578
19547844.852061585 20000000
1 3 6 20000000 -2.260775739692078
10291909.983596042 10000000
1 3 7 10000000 2.919099835960415
20212776.161785215 20000000
1 3 7 20000000 1.0638808089260765
9132418.425815742 10000000
1 4 5 10000000 -8.675815741842573
18778749.72427854 20000000
1 4 5 20000000 -6.106251378607308
9020409.23098807 10000000
1 4 6 10000000 -9.795907690119298
19034574.0920757 20000000
1 4 6 20000000 -4.827129539621488
9595131.455223978 10000000
1 4 7 10000000 -4.048685447760225
19209399.173195742 20000000
1 4 7 20000000 -3.9530041340212874
9176280.762190392 10000000
1 5 5 10000000 -8.237192378096081
18794687.53785027 20000000
1 5 5 20000000 -6.0265623107486626
9584709.71236764 10000000
1 5 6 10000000 -4.152902876323594
19451172.7011223 20000000
1 5 6 20000000 -2.744136494388505
9789843.085226232 10000000
1 5 7 10000000 -2.1015691477376808
19340615.1992926 20000000
1 5 7 20000000 -3.296924003536994
10205531.547911197 10000000
1 6 5 10000000 2.0553154791119743
20205652.58721661 20000000
1 6 5 20000000 1.0282629360830464
10185610.814223148 10000000
1 6 6 10000000 1.8561081422314718
20185610.81422314 20000000
1 6 6 20000000 0.9280540711156915
10175406.212381408 10000000
1 6 7 10000000 1.7540621238140819
20175406.212381437 20000000
1 6 7 20000000 0.8770310619071964
9917953.102874676 10000000
1 7 5 10000000 -0.8204689712532409
19917953.102874644 20000000
1 7 5 20000000 -0.41023448562678144
9781526.04214325 10000000
1 7 6 10000000 -2.184739578567496
19781464.252133317 20000000
1 7 6 20000000 -1.092678739333408
9767390.080003137 10000000
1 7 7 10000000 -2.3260991999686342
19767390.080003127 20000000
1 7 7 20000000 -1.163049599984367
9906375.770600798 10000000
1 8 5 10000000 -0.936242293992029
19906375.77060078 20000000
1 8 5 20000000 -0.4681211469960922
9877111.349878313 10000000
1 8 6 10000000 -1.2288865012168748
19877111.349878304 20000000
1 8 6 20000000 -0.6144432506084763
9875140.619563313 10000000
1 8 7 10000000 -1.248593804366871
19875140.619563304 20000000
1 8 7 20000000 -0.6242969021834854
10049965.11050581 10000000
1 9 5 10000000 0.4996511050580965
20049965.11050581 20000000
1 9 5 20000000 0.24982555252903715
10042267.619609987 10000000
1 9 6 10000000 0.4226761960998804
20042267.619609993 20000000
1 9 6 20000000 0.2113380980499624
10050281.021238333 10000000
1 9 7 10000000 0.50281021238332
20050281.02123833 20000000
1 9 7 20000000 0.25140510619166
10049965.11050581 10000000
1 10 5 10000000 0.4996511050580965
20049965.11050581 20000000
1 10 5 20000000 0.24982555252903715
10042267.619609987 10000000
1 10 6 10000000 0.4226761960998804
20042267.619609993 20000000
1 10 6 20000000 0.2113380980499624
10050281.021238333 10000000
1 10 7 10000000 0.50281021238332
20050281.02123833 20000000
1 10 7 20000000 0.25140510619166
9817929.512983415 10000000
2 1 5 10000000 -1.8207048701658457
19856131.371903248 20000000
2 1 5 20000000 -0.7193431404837636
10629521.718170661 10000000
2 1 6 10000000 6.295217181706625
20661726.819265503 20000000
2 1 6 20000000 3.308634096327512
10633318.986455753 10000000
2 1 7 10000000 6.333189864557531
20618234.704693954 20000000
2 1 7 20000000 3.09117352346977
9590940.993102588 10000000
2 2 5 10000000 -4.09059006897412
20003813.227823116 20000000
2 2 5 20000000 0.01906613911557553
10309310.673690373 10000000
2 2 6 10000000 3.093106736903728
20707405.569238033 20000000
2 2 6 20000000 3.537027846190166
10719267.492043491 10000000
2 2 7 10000000 7.192674920434916
21076098.689473387 20000000
2 2 7 20000000 5.38049344736693
9561728.2652158 10000000
2 3 5 10000000 -4.382717347842013
19858393.451078728 20000000
2 3 5 20000000 -0.7080327446063572
9740675.496830825 10000000
2 3 6 10000000 -2.593245031691749
19722496.728952944 20000000
2 3 6 20000000 -1.3875163552352743
10754533.681377554 10000000
2 3 7 10000000 7.545336813775538
20626453.73601155 20000000
2 3 7 20000000 3.1322686800577593
9657613.783951797 10000000
2 4 5 10000000 -3.4238621604820385
19810886.551973 20000000
2 4 5 20000000 -0.9455672401350035
9875938.287221354 10000000
2 4 6 10000000 -1.2406171277864697
19908279.519590974 20000000
2 4 6 20000000 -0.45860240204512737
10618649.158031508 10000000
2 4 7 10000000 6.186491580315079
20030067.887975752 20000000
2 4 7 20000000 0.15033943987876608
9623997.022983924 10000000
2 5 5 10000000 -3.7600297701607666
19252514.97809485 20000000
2 5 5 20000000 -3.7374251095257494
9240163.480497867 10000000
2 5 6 10000000 -7.598365195021328
19059626.11607583 20000000
2 5 6 20000000 -4.701869419620852
10492039.236976305 10000000
2 5 7 10000000 4.920392369763049
20240765.78408069 20000000
2 5 7 20000000 1.2038289204034491
10001079.55862685 10000000
2 6 5 10000000 0.01079558626848609
19591147.22181306 20000000
2 6 5 20000000 -2.0442638909346944
10492125.79223632 10000000
2 6 6 10000000 4.921257922363198
20234868.643420808 20000000
2 6 6 20000000 1.1743432171040347
11333068.529122235 10000000
2 6 7 10000000 13.330685291222345
21061200.595173918 20000000
2 6 7 20000000 5.306002975869584
11133452.907921918 10000000
2 7 5 10000000 11.33452907921917
20929387.542132102 20000000
2 7 5 20000000 4.646937710660515
10930627.35960123 10000000
2 7 6 10000000 9.306273596012304
20612405.31068311 20000000
2 7 6 20000000 3.062026553415542
11790896.761836648 10000000
2 7 7 10000000 17.90896761836649
21484086.830411285 20000000
2 7 7 20000000 7.420434152056421
10301474.822914764 10000000
2 8 5 10000000 3.0147482291476457
19919313.43246237 20000000
2 8 5 20000000 -0.40343283768815574
10379031.656165823 10000000
2 8 6 10000000 3.7903165616582246
19961299.84627186 20000000
2 8 6 20000000 -0.19350076864069754
11322938.353571728 10000000
2 8 7 10000000 13.229383535717275
20949456.337731615 20000000
2 8 7 20000000 4.747281688658078
10096591.920204371 10000000
2 9 5 10000000 0.9659192020437191
20096591.920204364 20000000
2 9 5 20000000 0.4829596010218262
9978125.123888556 10000000
2 9 6 10000000 -0.21874876111444008
19978125.123888552 20000000
2 9 6 20000000 -0.1093743805572367
10750763.287754267 10000000
2 9 7 10000000 7.50763287754268
20750763.28775429 20000000
2 9 7 20000000 3.75381643877144
9251596.575657029 10000000
2 10 5 10000000 -7.484034243429716
19251564.492851086 20000000
2 10 5 20000000 -3.742177535744573
9314825.601812769 10000000
2 10 6 10000000 -6.851743981872316
19314599.97176528 20000000
2 10 6 20000000 -3.4270001411735973
10185522.1466062 10000000
2 10 7 10000000 1.8552214660619848
20108757.80980764 20000000
2 10 7 20000000 0.5437890490382014
9162843.386940174 10000000
3 1 5 10000000 -8.371566130598262
19378222.715447992 20000000
3 1 5 20000000 -3.1088864227600377
10613000.208314624 10000000
3 1 6 10000000 6.1300020831462465
20479394.674960136 20000000
3 1 6 20000000 2.3969733748006927
10874393.772101462 10000000
3 1 7 10000000 8.743937721014628
20871026.506468233 20000000
3 1 7 20000000 4.355132532341166
9073471.442899905 10000000
3 2 5 10000000 -9.265285571000948
19643420.547605116 20000000
3 2 5 20000000 -1.7828972619744254
10375674.890056588 10000000
3 2 6 10000000 3.756748900565876
20915245.282615714 20000000
3 2 6 20000000 4.576226413078577
11062145.889957853 10000000
3 2 7 10000000 10.621458899578528
20910967.732423116 20000000
3 2 7 20000000 4.554838662115568

In [ ]:
df_par.to_csv("my_result_12s_1.csv")

## 测试

In [11]:
my_data_ud = ud(my_data_1 , 6)
my_data_count = count(my_data_ud,1,6)
my_data_signal = signal(my_data_count)
my_new_situation = pd.merge(my_data_9s_1,my_data_signal,on='dates',how='left')
my_new_situation =my_new_situation.drop(my_new_situation.columns[[15,16,17,18,19,20,21,22,23,24,25,26,27,28,30]], axis=1)
my_new_situation.rename(columns={'date_x':'date','time_x':'time','open_x':'open','high_x':'high','low_x':'low','close_x':'close'},inplace=True)
n4=10000000
my_new_situation_earning,everyday_money=new_earning(my_new_situation,n4,5000000,0.00005)
per_day_count,per_day_change_volume,per_day_change_money,per_count_change_time,earning,drawback = per_day(my_new_situation_earning,n4,everyday_money)
per_day_count,per_day_change_volume,per_day_change_money,per_count_change_time,earning,drawback

9650797.89363786 10000000

(5,
 6208228.777783154,
 26698670.192696493,
 64.0754716981132,
 -3.4920210636213977,
 10.329532981906283)

In [58]:
n4=10000000
my_new_situation_earning,everyday_money=new_earning(my_new_situation,n4,5000000,0.00005)

0 0 1666666.666666667
sell 0 0 1666666.6666666667 5000000 5000000
0 0 -833333.333333334
buy 0 0 2500000.0 1666666.666666666 5000000
0 0 -1666666.666666667
buy 0 0 833333.3333333334 2499999.9999999995 5000000
0 0 0.0
0 0 375762.0783532681
sell 0 0 2042428.7450199348 3333333.333333333 5000000
0 0 -1666666.666666667
buy 0 0 833333.3333333334 2499999.9999999995 5000000
0 0 833333.333333333
sell 0 0 1666666.6666666667 4166666.6666666665 5000000
0 0 -3333333.333333334
buy 0 0 0 1666666.666666666 5000000
0 0 -1666666.6666666674
buy 0 0 2500000.0 833333.3333333327 5000000
0 0 1666666.666666666
sell 0 0 2500000.0 4166666.6666666665 5000000
0 0 833333.333333333
sell 0 0 1666666.6666666667 4166666.6666666665 5000000
0 0 -2500000.0000000005
buy 0 0 1666666.6666666667 833333.3333333327 5000000
0 0 833333.333333333
sell 0 0 1666666.6666666667 4166666.6666666665 5000000
0 0 -833333.3333333335
buy 0 0 833333.3333333334 3333333.333333333 5000000
0 0 833333.333333333
sell 0 0 2500000.0 3333333.333333333 5000000
0 0 -2500000.0000000005
buy 0 0 0 2499999.9999999995 5000000
0 0 -833333.333333334
buy 0 0 1666666.6666666667 2499999.9999999995 5000000
0 0 -2500000.0000000005
buy 0 0 833333.3333333334 1666666.666666666 5000000
0 0 -3163600.0000000005
buy 0 0 1666666.6666666667 169733.33333333267 5000000
0 0 -833333.333333334
buy 0 0 1666666.6666666667 2499999.9999999995 5000000
0 0 -833333.333333334
buy 0 0 1666666.6666666667 2499999.9999999995 5000000
0 0 833333.333333333
sell 0 0 2500000.0 3333333.333333333 5000000
0 0 -1666666.666666667
buy 0 0 833333.3333333334 2499999.9999999995 5000000
0 0 -3333333.333333333
buy 0 0 1666666.6666666667 0.0 5000000
0 0 -4166666.6666666665
buy 0 0 833333.3333333334 0.0 5000000
0 0 833333.333333333
sell 0 0 2500000.0 3333333.333333333 5000000
0 0 -833333.3333333335
buy 0 0 0 4166666.6666666665 5000000
0 0 0.0
0 0 -833333.333333334
buy 0 0 1666666.6666666667 2499999.9999999995 5000000
0 0 0.0
0 0 -1666666.666666667
buy 0 0 0 3333333.333333333 5000000
0 0 1666666.666666667
sell 0 0 1666666.6666666667 5000000.0 5000000
0 0 -2500000.0000000005
buy 0 0 833333.3333333334 1666666.666666666 5000000
0 0 -2500000.0000000005
buy 0 0 833333.3333333334 1666666.666666666 5000000
0 0 1413238.3722964814
sell 0 0 3079905.0389631484 3333333.333333333 5000000
0 0 -833333.333333334
buy 0 0 2500000.0 1666666.666666666 5000000
0 0 1666666.666666666
sell 0 0 2500000.0 4166666.6666666665 5000000
0 0 -3333333.333333334
buy 0 0 833333.3333333334 833333.3333333327 5000000
0 0 -1666666.666666667
buy 0 0 833333.3333333334 2499999.9999999995 5000000
0 0 -3333333.333333334
buy 0 0 0 1666666.666666666 5000000
0 0 -1666666.6666666674
buy 0 0 2500000.0 833333.3333333327 5000000
0 0 -833333.333333334
buy 0 0 1666666.6666666667 2499999.9999999995 5000000
0 0 -2500000.0
buy 0 0 2500000.0 0.0 5000000
0 0 0.0
0 0 -1666666.666666667
buy 0 0 833333.3333333334 2499999.9999999995 5000000
0 0 -1666666.666666667
buy 0 0 1666666.6666666667 1666666.666666666 5000000
0 0 0.0
0 0 0.0
0 0 -833333.3333333335
buy 0 0 833333.3333333334 3333333.333333333 5000000
0 0 -833333.333333334
buy 0 0 1666666.6666666667 2499999.9999999995 5000000
0 0 0.0
0 0 2343756.259397948
sell 0 0 4010422.926064615 3333333.333333333 5000000
0 0 -833333.333333334
buy 0 0 2500000.0 1666666.666666666 5000000
0 0 -2500000.0000000005
buy 0 0 0 2499999.9999999995 5000000
0 0 -1666666.666666667
buy 0 0 1666666.6666666667 1666666.666666666 5000000
0 0 -2500000.0000000005
buy 0 0 833333.3333333334 1666666.666666666 5000000
0 0 2376317.400001101
sell 0 0 3209650.733334434 4166666.6666666665 5000000
0 0 -833333.333333334
buy 0 0 1666666.6666666667 2499999.9999999995 5000000
0 0 -833333.333333334
buy 0 0 1666666.6666666667 2499999.9999999995 5000000
0 0 -1666666.666666667
buy 0 0 1666666.6666666667 1666666.666666666 5000000
0 0 -2500000.0
buy 0 0 2500000.0 0.0 5000000
0 0 -833333.333333334
buy 0 0 1666666.6666666667 2499999.9999999995 5000000
0 0 -2500000.0000000005
buy 0 0 833333.3333333334 1666666.666666666 5000000
0 0 -833333.333333334
buy 0 0 1666666.6666666667 2499999.9999999995 5000000
0 0 833333.333333333
sell 0 0 2500000.0 3333333.333333333 5000000
0 0 -833333.333333334
buy 0 0 2500000.0 1666666.666666666 5000000
0 0 -833333.333333334
buy 0 0 1666666.6666666667 2499999.9999999995 5000000
0 0 -1666666.666666667
buy 0 0 1666666.6666666667 1666666.666666666 5000000
0 0 -1666666.666666667
buy 0 0 833333.3333333334 2499999.9999999995 5000000
0 0 -3333333.333333334
buy 0 0 833333.3333333334 833333.3333333327 5000000
0 0 -2500000.0000000005
buy 0 0 0 2499999.9999999995 5000000
0 0 1652643.1294339485
sell 0 0 3319309.7961006155 3333333.333333333 5000000
0 0 -4166666.6666666665
buy 0 0 833333.3333333334 0.0 5000000
0 0 -2500000.0000000005
buy 0 0 1666666.6666666667 833333.3333333327 5000000
0 0 1666666.666666666
sell 0 0 3333333.3333333335 3333333.333333333 5000000
0 0 0.0
0 0 -833333.333333334
buy 0 0 2500000.0 1666666.666666666 5000000
0 0 -833333.333333334
buy 0 0 2500000.0 1666666.666666666 5000000
0 0 -3333333.333333334
buy 0 0 833333.3333333334 833333.3333333327 5000000
0 0 -1666666.666666667
buy 0 0 1666666.6666666667 1666666.666666666 5000000
0 0 0.0
0 0 0.0
0 0 0.0
0 0 0.0
0 0 -2500000.0
buy 0 0 2500000.0 0.0 5000000
0 0 2513844.1992435846
sell 0 0 3347177.5325769177 4166666.6666666665 5000000
0 0 833333.333333333
sell 0 0 2500000.0 3333333.333333333 5000000
0 0 2530846.942178564
sell 0 0 2530846.942178564 5000000.0 5000000
0 0 833333.333333333
sell 0 0 3333333.3333333335 2499999.9999999995 5000000
0 0 833333.333333333
sell 0 0 2500000.0 3333333.333333333 5000000
0 0 -4166666.6666666674
buy 0 0 0 833333.3333333327 5000000
0 0 -833333.333333334
buy 0 0 2500000.0 1666666.666666666 5000000
0 0 -833333.333333334
buy 0 0 1666666.6666666667 2499999.9999999995 5000000
0 0 -833333.333333334
buy 0 0 1666666.6666666667 2499999.9999999995 5000000
0 0 -1666666.666666667
buy 0 0 1666666.6666666667 1666666.666666666 5000000
0 0 2480769.5016139736
sell 0 0 3314102.834947307 4166666.6666666665 5000000
0 0 833333.333333333
sell 0 0 3333333.3333333335 2499999.9999999995 5000000
0 0 0.0
0 0 2450863.940668881
sell 0 0 2450863.9406688805 5000000.0 5000000
0 0 -833333.333333334
buy 0 0 2500000.0 1666666.666666666 5000000
0 0 1666666.666666666
sell 0 0 3333333.3333333335 3333333.333333333 5000000
0 0 -2500000.0000000005
buy 0 0 1666666.6666666667 833333.3333333327 5000000
0 0 1666666.666666666
sell 0 0 2500000.0 4166666.6666666665 5000000
0 0 -1666666.666666667
buy 0 0 1666666.6666666667 1666666.666666666 5000000
0 0 0.0

In [71]:
my_new_situation_earning[(my_new_situation_earning["yesterday_volume"]>0)|(my_new_situation_earning["today_volume"]>0)|(my_new_situation_earning["all_money"]>0)][100:150]

,date,time,dates,open,high,low,close,buy1,bc1,buy2,...,sc2,new_signal,yesterday_volume,today_volume,change_volume,all_money,change_money,new_position,new_price,change_time
24150,2022-01-24,11:13:00,2022-01-24 11:13:00,4.791,4.791,4.791,4.791,4.790,72400,4.789,...,1867200,1,4e+06,2e+06,1e+06,5.21656e+06,4.79221e+06,None,4.79221,0
24619,2022-01-24,13:50:00,2022-01-24 13:50:00,4.779,4.779,4.779,4.779,4.778,346300,4.777,...,2157300,-1,3e+06,2e+06,1e+06,9.99366e+06,4.77711e+06,None,4.77711,0
24633,2022-01-24,13:52:00,2022-01-24 13:52:00,4.778,4.778,4.778,4.778,4.777,804700,4.776,...,543000,-1,2e+06,2e+06,1e+06,1.47702e+07,4.77657e+06,None,4.77657,0
24948,2022-01-24,14:37:00,2022-01-24 14:37:00,4.781,4.781,4.781,4.781,4.781,610100,4.780,...,1340500,1,2e+06,3e+06,1e+06,9.98701e+06,4.78322e+06,None,4.78322,0
25971,2022-01-25,13:04:00,2022-01-25 13:04:00,4.730,4.730,4.730,4.730,4.730,18200,4.729,...,455300,-1,5e+06,0,None,9.98701e+06,None,None,None,None
25972,2022-01-25,13:04:09,2022-01-25 13:04:09,4.731,4.731,4.731,4.731,4.730,327500,4.729,...,297300,NaN,4e+06,0,1e+06,1.47161e+07,4.72907e+06,None,4.72907,9
26314,2022-01-25,13:53:00,2022-01-25 13:53:00,4.709,4.709,4.709,4.709,4.707,168300,4.706,...,1673100,-1,4e+06,0,None,1.47161e+07,None,None,None,None
26316,2022-01-25,13:53:18,2022-01-25 13:53:18,4.709,4.709,4.709,4.709,4.708,24000,4.707,...,1517200,NaN,3e+06,0,1e+06,1.94222e+07,4.70616e+06,None,4.70616,18
26524,2022-01-25,14:23:00,2022-01-25 14:23:00,4.709,4.709,4.709,4.709,4.708,27900,4.707,...,1870400,-1,3e+06,0,None,1.94222e+07,None,None,None,None
26526,2022-01-25,14:23:18,2022-01-25 14:23:18,4.709,4.709,4.709,4.709,4.708,70100,4.707,...,342400,NaN,2e+06,0,1e+06,2.41291e+07,4.70686e+06,None,4.70686,18
26636,2022-01-25,14:39:00,2022-01-25 14:39:00,4.699,4.699,4.699,4.699,4.699,51800,4.698,...,709400,-1,1e+06,0,1e+06,2.88269e+07,4.69782e+06,None,4.69782,0
26643,2022-01-25,14:40:00,2022-01-25 14:40:00,4.696,4.696,4.696,4.696,4.695,15500,4.694,...,223400,4,1e+06,0,None,2.88269e+07,None,None,None,None
26648,2022-01-25,14:40:45,2022-01-25 14:40:45,4.692,4.692,4.692,4.692,4.691,3600,4.690,...,929200,NaN,1e+06,4e+06,4e+06,1.00489e+07,1.8778e+07,None,4.6945,45
27477,2022-01-26,11:10:00,2022-01-26 11:10:00,4.689,4.689,4.688,4.688,4.688,712800,4.687,...,1951300,-1,4e+06,0,1e+06,1.47364e+07,4.68748e+06,None,4.68748,0
27617,2022-01-26,11:30:00,2022-01-26 11:30:00,4.671,4.671,4.671,4.671,4.670,96900,4.669,...,752000,-1,4e+06,0,None,1.47364e+07,None,None,None,None
27618,2022-01-26,13:00:09,2022-01-26 13:00:09,4.668,4.668,4.668,4.668,4.668,432600,4.667,...,997000,NaN,3e+06,0,1e+06,1.9404e+07,4.66761e+06,None,4.66761,5409
27862,2022-01-26,13:35:00,2022-01-26 13:35:00,4.679,4.679,4.679,4.679,4.679,109700,4.678,...,1079900,1,3e+06,1e+06,1e+06,1.47231e+07,4.68091e+06,None,4.68091,0
28317,2022-01-26,14:40:00,2022-01-26 14:40:00,4.705,4.705,4.705,4.705,4.705,1119100,4.704,...,1586000,1,3e+06,2e+06,1e+06,1.00164e+07,4.70668e+06,None,4.70668,0
28864,2022-01-27,10:29:00,2022-01-27 10:29:00,4.659,4.659,4.659,4.659,4.658,400,4.657,...,2153800,-1,5e+06,0,None,1.00164e+07,None,None,None,None
28866,2022-01-27,10:29:18,2022-01-27 10:29:18,4.658,4.658,4.658,4.658,4.657,251300,4.656,...,456000,NaN,4e+06,0,1e+06,1.46734e+07,4.657e+06,None,4.657,18
29291,2022-01-27,11:30:00,2022-01-27 11:30:00,4.659,4.659,4.659,4.659,4.659,10000,4.658,...,600000,-1,4e+06,0,None,1.46734e+07,None,None,None,None
29293,2022-01-27,13:00:18,2022-01-27 13:00:18,4.653,4.653,4.653,4.653,4.652,534000,4.651,...,400500,NaN,3e+06,0,1e+06,1.93268e+07,4.6534e+06,None,4.6534,5418
29893,2022-01-27,14:26:00,2022-01-27 14:26:00,4.631,4.631,4.631,4.631,4.630,129400,4.629,...,645500,-1,3e+06,0,None,1.93268e+07,None,None,None,None
29895,2022-01-27,14:26:18,2022-01-27 14:26:18,4.633,4.633,4.633,4.633,4.632,163800,4.631,...,6300,NaN,2e+06,0,1e+06,2.39576e+07,4.63082e+06,None,4.63082,18
29991,2022-01-27,14:40:00,2022-01-27 14:40:00,4.620,4.620,4.620,4.620,4.619,31000,4.618,...,333800,3,2e+06,0,None,2.39576e+07,None,None,None,None
29995,2022-01-27,14:40:36,2022-01-27 14:40:36,4.619,4.619,4.619,4.619,4.619,133800,4.618,...,11000,NaN,2e+06,3e+06,3e+06,1.00952e+07,1.38624e+07,None,4.6208,36
30223,2022-01-28,09:44:00,2022-01-28 09:44:00,4.631,4.631,4.631,4.631,4.631,135480,4.630,...,951900,-1,5e+06,0,None,1.00952e+07,None,None,None,None
30224,2022-01-28,09:44:09,2022-01-28 09:44:09,4.635,4.635,4.635,4.635,4.635,400000,4.634,...,153600,NaN,4e+06,0,1e+06,1.47257e+07,4.63044e+06,None,4.63044,9
30468,2022-01-28,10:19:00,2022-01-28 10:19:00,4.572,4.572,4.572,4.572,4.572,56200,4.571,...,1922500,-1,4e+06,0,None,1.47257e+07,None,None,None,None
30472,2022-01-28,10:19:36,2022-01-28 10:19:36,4.573,4.573,4.573,4.573,4.572,11856,4.571,...,1837000,NaN,3e+06,0,1e+06,1.92988e+07,4.57316e+06,None,4.57316,36
30678,2022-01-28,10:49:00,2022-01-28 10:49:00,4.596,4.596,4.596,4.596,4.595,613500,4.594,...,764800,1,3e+06,0,None,1.92988e+07,None,None,None,None
30679,2022-01-28,10:49:09,2022-01-28 10:49:09,4.598,4.598,4.598,4.598,4.598,482800,4.596,...,106500,NaN,3e+06,1e+06,1e+06,1.46998e+07,4.59905e+06,None,4.59905,9
31315,2022-01-28,13:50:00,2022-01-28 13:50:00,4.615,4.615,4.613,4.613,4.613,693300,4.612,...,631400,-1,2e+06,1e+06,1e+06,1.93122e+07,4.61246e+06,None,4.61246,0
31483,2022-01-28,14:14:00,2022-01-28 14:14:00,4.589,4.589,4.589,4.589,4.588,1124000,4.587,...,130200,-1,1e+06,1e+06,1e+06,2.39e+07,4.58777e+06,None,4.58777,0
31658,2022-01-28,14:39:00,2022-01-28 14:39:00,4.575,4.575,4.575,4.575,4.574,40300,4.573,...,435200,-1,1e+06,1e+06,None,2.39e+07,None,None,None,None
31663,2022-01-28,14:39:45,2022-01-28 14:39:45,4.578,4.579,4.578,4.579,4.579,47800,4.578,...,53700,NaN,336400,1e+06,663600,2.69351e+07,3.03514e+06,None,4.57375,45
31665,2022-01-28,14:40:00,2022-01-28 14:40:00,4.578,4.578,4.578,4.578,4.577,800,4.576,...,13700,4,336400,1e+06,None,2.69351e+07,None,None,None,None
31670,2022-01-28,14:40:45,2022-01-28 14:40:45,4.572,4.572,4.572,4.572,4.571,1200,4.570,...,287700,NaN,336400,4.6636e+06,3.6636e+06,1.01664e+07,1.67687e+07,None,4.57711,45
31876,2022-02-07,09:41:00,2022-02-07 09:41:00,4.661,4.661,4.661,4.661,4.661,2484900,4.660,...,409600,1,5e+06,0,None,1.01664e+07,None,None,None,None
31877,2022-02-07,09:41:09,2022-02-07 09:41:09,4.662,4.662,4.662,4.662,4.661,604000,4.660,...,655200,NaN,5e+06,1e+06,1e+06,5.5038e+06,4.66264e+06,None,4.66264,9
31960,2022-02-07,09:53:00,2022-02-07 09:53:00,4.636,4.636,4.636,4.636,4.635,85700,4.634,...,72700,-1,5e+06,1e+06,None,5.5038e+06,None,None,None,None
31962,2022-02-07,09:53:18,2022-02-07 09:53:18,4.635,4.635,4.635,4.635,4.634,327900,4.633,...,751800,NaN,4e+06,1e+06,1e+06,1.01377e+07,4.63391e+06,None,4.63391,18
32226,2022-02-07,10:31:00,2022-02-07 10:31:00,4.622,4.622,4.622,4.622,4.622,1600,4.621,...,22300,-1,4e+06,1e+06,None,1.01377e+07,None,None,None,None
32228,2022-02-07,10:31:18,2022-02-07 10:31:18,4.623,4.623,4.623,4.623,4.622,73500,4.621,...,320400,NaN,3e+06,1e+06,1e+06,1.47592e+07,4.62152e+06,None,4.62152,18
32604,2022-02-07,11:25:00,2022-02-07 11:25:00,4.628,4.628,4.628,4.628,4.627,500,4.626,...,870600,1,3e+06,1e+06,None,1.47592e+07,None,None,None,None
32605,2022-02-07,11:25:09,2022-02-07 11:25:09,4.627,4.627,4.627,4.627,4.627,10800,4.626,...,851000,NaN,3e+06,2e+06,1e+06,1.01301e+07,4.62911e+06,None,4.62911,9
33557,2022-02-08,09:42:00,2022-02-08 09:42:00,4.594,4.594,4.593,4.594,4.593,66000,4.592,...,1440600,-1,5e+06,0,None,1.01301e+07,None,None,None,None
33558,2022-02-08,09:42:09,2022-02-08 09:42:09,4.592,4.592,4.592,4.592,4.591,1002500,4.590,...,66200,NaN,4e+06,0,1e+06,1.47212e+07,4.59112e+06,None,4.59112,9
33774,2022-02-08,10:13:00,2022-02-08 10:13:00,4.573,4.573,4.573,4.573,4.572,5300,4.571,...,999700,-1,4e+06,0,None,1.47212e+07,None,None,None,None
33778,2022-02-08,10:13:36,2022-02-08 10:13:36,4.575,4.575,4.575,4.575,4.574,144100,4.573,...,608200,NaN,3e+06,0,1e+06,1.92937e+07,4.57244e+06,None,4.57244,36

In [31]:
my_new_situation_earning[31668:31693]

,date,time,dates,open,high,low,close,buy1,bc1,buy2,...,sc2,new_signal,yesterday_volume,today_volume,change_volume,all_money,change_money,new_position,new_price,change_time
31668,2022-01-28,14:40:27,2022-01-28 14:40:27,4.576,4.576,4.576,4.576,4.576,86300,4.573,...,772700,NaN,1e+06,4e+06,3e+06,1.0167e+07,1.37331e+07,None,4.57769,27
31669,2022-01-28,14:40:36,2022-01-28 14:40:36,4.573,4.573,4.573,4.573,4.572,18000,4.571,...,301600,NaN,None,None,None,None,None,None,None,None
31670,2022-01-28,14:40:45,2022-01-28 14:40:45,4.572,4.572,4.572,4.572,4.571,1200,4.570,...,287700,NaN,None,None,None,None,None,None,None,None
31671,2022-01-28,14:40:54,2022-01-28 14:40:54,4.572,4.572,4.572,4.572,4.570,94500,4.569,...,232300,NaN,None,None,None,None,None,None,None,None
31672,2022-01-28,14:41:00,2022-01-28 14:41:00,4.571,4.571,4.571,4.571,4.568,1069600,4.567,...,893000,None,0,4e+06,1e+06,2.75764e+07,1.74094e+07,None,17.4094,60
31673,2022-01-28,14:41:09,2022-01-28 14:41:09,4.570,4.570,4.570,4.570,4.569,7900,4.568,...,7900,NaN,None,None,None,None,None,None,None,None
31674,2022-01-28,14:41:18,2022-01-28 14:41:18,4.570,4.570,4.570,4.570,4.569,13500,4.568,...,202000,NaN,None,None,None,None,None,None,None,None
31675,2022-01-28,14:41:27,2022-01-28 14:41:27,4.569,4.569,4.569,4.569,4.568,527900,4.567,...,280600,NaN,None,None,None,None,None,None,None,None
31676,2022-01-28,14:41:36,2022-01-28 14:41:36,4.570,4.570,4.570,4.570,4.569,300,4.568,...,540600,NaN,None,None,None,None,None,None,None,None
31677,2022-01-28,14:41:45,2022-01-28 14:41:45,4.568,4.568,4.568,4.568,4.567,300700,4.566,...,5400,NaN,None,None,None,None,None,None,None,None
31678,2022-01-28,14:41:54,2022-01-28 14:41:54,4.568,4.568,4.568,4.568,4.567,995200,4.566,...,933900,NaN,None,None,None,None,None,None,None,None
31679,2022-01-28,14:42:00,2022-01-28 14:42:00,4.567,4.567,4.567,4.567,4.566,377500,4.565,...,921500,None,None,None,None,None,None,None,None,None
31680,2022-01-28,14:42:09,2022-01-28 14:42:09,4.569,4.569,4.569,4.569,4.568,24300,4.567,...,962600,NaN,None,None,None,None,None,None,None,None
31681,2022-01-28,14:42:18,2022-01-28 14:42:18,4.570,4.570,4.570,4.570,4.569,4900,4.568,...,500,NaN,None,None,None,None,None,None,None,None
31682,2022-01-28,14:42:27,2022-01-28 14:42:27,4.570,4.570,4.570,4.570,4.569,907800,4.568,...,600,NaN,None,None,None,None,None,None,None,None
31683,2022-01-28,14:42:36,2022-01-28 14:42:36,4.570,4.570,4.570,4.570,4.570,317800,4.569,...,49100,NaN,None,None,None,None,None,None,None,None
31684,2022-01-28,14:42:45,2022-01-28 14:42:45,4.572,4.572,4.572,4.572,4.571,235400,4.570,...,277200,NaN,None,None,None,None,None,None,None,None
31685,2022-01-28,14:42:54,2022-01-28 14:42:54,4.572,4.572,4.572,4.572,4.572,231700,4.571,...,9800,NaN,None,None,None,None,None,None,None,None
31686,2022-01-28,14:43:00,2022-01-28 14:43:00,4.572,4.572,4.572,4.572,4.572,81100,4.571,...,9800,None,None,None,None,None,None,None,None,None
31687,2022-01-28,14:43:09,2022-01-28 14:43:09,4.572,4.572,4.572,4.572,4.571,288900,4.570,...,537400,NaN,None,None,None,None,None,None,None,None
31688,2022-01-28,14:43:18,2022-01-28 14:43:18,4.572,4.572,4.572,4.572,4.571,3300,4.570,...,937400,NaN,None,None,None,None,None,None,None,None
31689,2022-01-28,14:43:27,2022-01-28 14:43:27,4.571,4.571,4.571,4.571,4.571,5000,4.570,...,957400,NaN,None,None,None,None,None,None,None,None
31690,2022-01-28,14:43:36,2022-01-28 14:43:36,4.571,4.571,4.571,4.571,4.570,16700,4.568,...,470600,NaN,None,None,None,None,None,None,None,None
31691,2022-01-28,14:43:45,2022-01-28 14:43:45,4.570,4.570,4.570,4.570,4.568,25200,4.567,...,739900,NaN,None,None,None,None,None,None,None,None
31692,2022-01-28,14:43:54,2022-01-28 14:43:54,4.566,4.566,4.566,4.566,4.566,604600,4.565,...,44200,NaN,None,None,None,None,None,None,None,None